<a href="https://colab.research.google.com/github/harnalashok/hadoop/blob/main/credit_card_transactions_network_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Call libraries

In [ ]:
import pandas as pd
import os

In [ ]:
pd.__version__  # 1.3.5

'1.3.5'

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Mount google drive

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
!ls /gdrive/MyDrive/credit_card_transactions/

card_transaction_v1.csv  credit_card_edges.csv	   creditCard_users.csv
card_transaction_v1.zip  creditCard_merchants.csv  sample_2002.csv

In [ ]:
os.chdir("/gdrive/MyDrive/credit_card_transactions/")
os.listdir()

['card_transaction_v1.csv',
 'card_transaction_v1.zip',
 '.ipynb_checkpoints',
 'credit_card_edges.csv',
 'creditCard_users.csv',
 'creditCard_merchants.csv',
 'sample_2002.csv']

column names:  
User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?   
Sample data:  
0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,,No
0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,,No

### Read data and explore

In [ ]:
# Takes around 50secs
%%time
df = pd.read_csv("card_transaction_v1.csv",
                 usecols = ["User", "Year",  "Merchant Name","Merchant City", "Amount", "Is Fraud?"])

CPU times: user 27.3 s, sys: 5.91 s, total: 33.2 s
Wall time: 36.3 s

In [ ]:
df.head()
df.tail()
df.shape

   User  Year   Amount        Merchant Name  Merchant City Is Fraud?
0     0  2002  $134.09  3527213246127876953       La Verne        No
1     0  2002   $38.48  -727612092139916043  Monterey Park        No
2     0  2002  $120.34  -727612092139916043  Monterey Park        No
3     0  2002  $128.95  3414527459579106770  Monterey Park        No
4     0  2002  $104.71  5817218446178736267       La Verne        No

          User  Year   Amount        Merchant Name Merchant City Is Fraud?
24386895  1999  2020  $-54.00 -5162038175624867091     Merrimack        No
24386896  1999  2020   $54.00 -5162038175624867091     Merrimack        No
24386897  1999  2020   $59.15  2500998799892805156     Merrimack        No
24386898  1999  2020   $43.12  2500998799892805156     Merrimack        No
24386899  1999  2020   $45.13  4751695835751691036     Merrimack        No

(24386900, 6)

In [ ]:
df.dtypes

User              int64
Year              int64
Amount           object
Merchant Name     int64
Merchant City    object
Is Fraud?        object
dtype: object

In [ ]:
df['Is Fraud?'].value_counts()

No     24357143
Yes       29757
Name: Is Fraud?, dtype: int64

In [ ]:
df['Amount']=df['Amount'].str.replace("$", "")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
df['Amount'] = pd.to_numeric(df['Amount'])

In [ ]:
df.shape   # (24386900, 6)

(24386900, 6)

### Take a sample of data

In [ ]:
dfsample = df.loc[df['Year'] == 2002, :]

In [ ]:
dfsample.dtypes
dfsample.shape   # (350732, 6)

In [ ]:
dfsample['Is Fraud?'].value_counts()

In [ ]:
dfsample.to_csv("sample_2002.csv", index = False)

In [ ]:
df_sample = dfsample.copy()

In [ ]:
df_sample.head()

   User  Year  Amount        Merchant Name  Merchant City Is Fraud?
0     0  2002  134.09  3527213246127876953       La Verne        No
1     0  2002   38.48  -727612092139916043  Monterey Park        No
2     0  2002  120.34  -727612092139916043  Monterey Park        No
3     0  2002  128.95  3414527459579106770  Monterey Park        No
4     0  2002  104.71  5817218446178736267       La Verne        No

### Change user IDs

In [ ]:
u_user = df_sample['User'].unique()

In [ ]:
u_user.sort()

In [ ]:
u_user

In [ ]:
dx = pd.DataFrame(u_user, columns = ["u_user"]).reset_index().rename(columns = {'index' : 'alt_name' })
dx['alt_name'] = dx['alt_name'].apply(str)
dx['a'] = "u"
dx['alt_name'] = dx['a'].str.cat(dx['alt_name']) 
_=dx.pop('a')
dx.head()

  alt_name  u_user
0       u0       0
1       u1       2
2       u2       4
3       u3       5
4       u4      15

In [ ]:
# https://stackoverflow.com/a/20250947/3282777
map_dict = dict(zip(dx['u_user'], dx['alt_name']))
map_dict

{0: 'u0',
 2: 'u1',
 4: 'u2',
 5: 'u3',
 15: 'u4',
 19: 'u5',
 22: 'u6',
 23: 'u7',
 34: 'u8',
 40: 'u9',
 42: 'u10',
 47: 'u11',
 48: 'u12',
 49: 'u13',
 53: 'u14',
 55: 'u15',
 66: 'u16',
 74: 'u17',
 75: 'u18',
 77: 'u19',
 81: 'u20',
 83: 'u21',
 87: 'u22',
 89: 'u23',
 98: 'u24',
 100: 'u25',
 102: 'u26',
 109: 'u27',
 112: 'u28',
 122: 'u29',
 123: 'u30',
 134: 'u31',
 136: 'u32',
 137: 'u33',
 139: 'u34',
 148: 'u35',
 149: 'u36',
 150: 'u37',
 151: 'u38',
 156: 'u39',
 162: 'u40',
 177: 'u41',
 178: 'u42',
 181: 'u43',
 184: 'u44',
 185: 'u45',
 187: 'u46',
 188: 'u47',
 192: 'u48',
 201: 'u49',
 205: 'u50',
 215: 'u51',
 220: 'u52',
 234: 'u53',
 239: 'u54',
 242: 'u55',
 243: 'u56',
 252: 'u57',
 255: 'u58',
 257: 'u59',
 261: 'u60',
 266: 'u61',
 275: 'u62',
 285: 'u63',
 287: 'u64',
 292: 'u65',
 304: 'u66',
 309: 'u67',
 319: 'u68',
 329: 'u69',
 332: 'u70',
 343: 'u71',
 344: 'u72',
 348: 'u73',
 359: 'u74',
 361: 'u75',
 370: 'u76',
 376: 'u77',
 377: 'u78',
 385: 'u79',
 390: 'u80',
 393: 'u81',
 396: 'u82',
 398: 'u83',
 405: 'u84',
 413: 'u85',
 417: 'u86',
 426: 'u87',
 440: 'u88',
 445: 'u89',
 446: 'u90',
 449: 'u91',
 456: 'u92',
 464: 'u93',
 466: 'u94',
 473: 'u95',
 474: 'u96',
 480: 'u97',
 481: 'u98',
 486: 'u99',
 487: 'u100',
 488: 'u101',
 489: 'u102',
 490: 'u103',
 497: 'u104',
 500: 'u105',
 502: 'u106',
 504: 'u107',
 510: 'u108',
 511: 'u109',
 513: 'u110',
 519: 'u111',
 525: 'u112',
 531: 'u113',
 540: 'u114',
 545: 'u115',
 548: 'u116',
 549: 'u117',
 552: 'u118',
 556: 'u119',
 562: 'u120',
 564: 'u121',
 569: 'u122',
 574: 'u123',
 576: 'u124',
 579: 'u125',
 580: 'u126',
 583: 'u127',
 598: 'u128',
 614: 'u129',
 615: 'u130',
 619: 'u131',
 625: 'u132',
 628: 'u133',
 635: 'u134',
 667: 'u135',
 669: 'u136',
 672: 'u137',
 673: 'u138',
 680: 'u139',
 683: 'u140',
 688: 'u141',
 690: 'u142',
 693: 'u143',
 697: 'u144',
 705: 'u145',
 713: 'u146',
 720: 'u147',
 726: 'u148',
 731: 'u149',
 736: 'u150',
 746: 'u151',
 747: 'u152',
 759: 'u153',
 761: 'u154',
 764: 'u155',
 771: 'u156',
 776: 'u157',
 777: 'u158',
 780: 'u159',
 787: 'u160',
 791: 'u161',
 797: 'u162',
 801: 'u163',
 805: 'u164',
 806: 'u165',
 807: 'u166',
 808: 'u167',
 813: 'u168',
 817: 'u169',
 822: 'u170',
 824: 'u171',
 827: 'u172',
 829: 'u173',
 831: 'u174',
 832: 'u175',
 835: 'u176',
 838: 'u177',
 841: 'u178',
 848: 'u179',
 851: 'u180',
 854: 'u181',
 856: 'u182',
 861: 'u183',
 874: 'u184',
 884: 'u185',
 885: 'u186',
 888: 'u187',
 896: 'u188',
 897: 'u189',
 899: 'u190',
 904: 'u191',
 906: 'u192',
 914: 'u193',
 918: 'u194',
 923: 'u195',
 928: 'u196',
 929: 'u197',
 938: 'u198',
 946: 'u199',
 949: 'u200',
 956: 'u201',
 959: 'u202',
 973: 'u203',
 976: 'u204',
 980: 'u205',
 983: 'u206',
 986: 'u207',
 990: 'u208',
 991: 'u209',
 1006: 'u210',
 1008: 'u211',
 1010: 'u212',
 1019: 'u213',
 1021: 'u214',
 1030: 'u215',
 1032: 'u216',
 1036: 'u217',
 1038: 'u218',
 1052: 'u219',
 1057: 'u220',
 1059: 'u221',
 1060: 'u222',
 1062: 'u223',
 1064: 'u224',
 1069: 'u225',
 1071: 'u226',
 1080: 'u227',
 1081: 'u228',
 1085: 'u229',
 1088: 'u230',
 1090: 'u231',
 1096: 'u232',
 1097: 'u233',
 1098: 'u234',
 1104: 'u235',
 1110: 'u236',
 1111: 'u237',
 1117: 'u238',
 1121: 'u239',
 1122: 'u240',
 1123: 'u241',
 1136: 'u242',
 1140: 'u243',
 1154: 'u244',
 1159: 'u245',
 1166: 'u246',
 1178: 'u247',
 1180: 'u248',
 1181: 'u249',
 1188: 'u250',
 1191: 'u251',
 1196: 'u252',
 1201: 'u253',
 1206: 'u254',
 1207: 'u255',
 1212: 'u256',
 1223: 'u257',
 1224: 'u258',
 1228: 'u259',
 1231: 'u260',
 1234: 'u261',
 1236: 'u262',
 1238: 'u263',
 1250: 'u264',
 1258: 'u265',
 1261: 'u266',
 1266: 'u267',
 1267: 'u268',
 1270: 'u269',
 1291: 'u270',
 1295: 'u271',
 1297: 'u272',
 1298: 'u273',
 1304: 'u274',
 1307: 'u275',
 1311: 'u276',
 1312: 'u277',
 1313: 'u278',
 1315: 'u279',
 1317: 'u280',
 1320: 'u281',
 1325: 'u282',
 1328: 'u283',
 1330: 'u284',
 1334: 'u285',
 1338: 'u286',
 1342: 'u287',
 1354: 'u288',
 1361: 'u289',
 1362: 'u290',
 1364: 'u291',
 1366: 'u292',
 1377: 'u293',
 1379: 'u294',
 1380: 'u295',
 1387: 'u296',
 1392: 'u297',
 1395: 'u298',
 1403: 'u299',
 1412: 'u300',
 1415: 'u301',
 1417: 'u302',
 1419: 'u303',
 1420: 'u304',
 1423: 'u305',
 1425: 'u306',
 1428: 'u307',
 1438: 'u308',
 1441: 'u309',
 1448: 'u310',
 1459: 'u311',
 1476: 'u312',
 1482: 'u313',
 1487: 'u314',
 1490: 'u315',
 1495: 'u316',
 1496: 'u317',
 1497: 'u318',
 1506: 'u319',
 1515: 'u320',
 1520: 'u321',
 1526: 'u322',
 1528: 'u323',
 1529: 'u324',
 1532: 'u325',
 1533: 'u326',
 1534: 'u327',
 1535: 'u328',
 1545: 'u329',
 1546: 'u330',
 1558: 'u331',
 1562: 'u332',
 1564: 'u333',
 1567: 'u334',
 1572: 'u335',
 1575: 'u336',
 1576: 'u337',
 1588: 'u338',
 1589: 'u339',
 1590: 'u340',
 1593: 'u341',
 1596: 'u342',
 1604: 'u343',
 1607: 'u344',
 1608: 'u345',
 1617: 'u346',
 1618: 'u347',
 1627: 'u348',
 1630: 'u349',
 1634: 'u350',
 1636: 'u351',
 1638: 'u352',
 1641: 'u353',
 1644: 'u354',
 1669: 'u355',
 1671: 'u356',
 1673: 'u357',
 1675: 'u358',
 1678: 'u359',
 1681: 'u360',
 1683: 'u361',
 1691: 'u362',
 1704: 'u363',
 1706: 'u364',
 1708: 'u365',
 1710: 'u366',
 1711: 'u367',
 1712: 'u368',
 1722: 'u369',
 1725: 'u370',
 1726: 'u371',
 1727: 'u372',
 1730: 'u373',
 1734: 'u374',
 1739: 'u375',
 1741: 'u376',
 1742: 'u377',
 1753: 'u378',
 1766: 'u379',
 1768: 'u380',
 1772: 'u381',
 1773: 'u382',
 1778: 'u383',
 1779: 'u384',
 1781: 'u385',
 1785: 'u386',
 1788: 'u387',
 1791: 'u388',
 1794: 'u389',
 1795: 'u390',
 1800: 'u391',
 1807: 'u392',
 1810: 'u393',
 1823: 'u394',
 1840: 'u395',
 1847: 'u396',
 1852: 'u397',
 1854: 'u398',
 1859: 'u399',
 1870: 'u400',
 1884: 'u401',
 1887: 'u402',
 1888: 'u403',
 1889: 'u404',
 1893: 'u405',
 1894: 'u406',
 1896: 'u407',
 1897: 'u408',
 1903: 'u409',
 1904: 'u410',
 1911: 'u411',
 1917: 'u412',
 1918: 'u413',
 1930: 'u414',
 1933: 'u415',
 1934: 'u416',
 1952: 'u417',
 1955: 'u418',
 1958: 'u419',
 1961: 'u420',
 1963: 'u421',
 1971: 'u422',
 1993: 'u423',
 1996: 'u424',
 1997: 'u425'}

In [ ]:
df_sample['User'] = df_sample['User'].replace(map_dict, inplace= False)

In [ ]:
df_sample.head()

  User  Year  Amount        Merchant Name  Merchant City Is Fraud?
0   u0  2002  134.09  3527213246127876953       La Verne        No
1   u0  2002   38.48  -727612092139916043  Monterey Park        No
2   u0  2002  120.34  -727612092139916043  Monterey Park        No
3   u0  2002  128.95  3414527459579106770  Monterey Park        No
4   u0  2002  104.71  5817218446178736267       La Verne        No

### Change merchant IDs

In [ ]:
mn = df_sample['Merchant Name'].unique()

In [ ]:
mn.sort()

In [ ]:
dx = pd.DataFrame(mn, columns = ["mt"]).reset_index().rename(columns = {'index' : 'alt_name' })
dx['alt_name'] = dx['alt_name'].apply(str)
dx['a'] = "m"
dx['alt_name'] = dx['a'].str.cat(dx['alt_name']) 
_=dx.pop('a')
dx.head()

  alt_name                   mt
0       m0 -9216029123349204090
1       m1 -9215609737857753742
2       m2 -9214558223928539670
3       m3 -9211415240299816455
4       m4 -9210704852233124461

In [ ]:
# https://stackoverflow.com/a/20250947/3282777
map_dict = dict(zip(dx['mt'], dx['alt_name']))
map_dict

{-9216029123349204090: 'm0',
 -9215609737857753742: 'm1',
 -9214558223928539670: 'm2',
 -9211415240299816455: 'm3',
 -9210704852233124461: 'm4',
 -9209649324591830672: 'm5',
 -9209549549743376514: 'm6',
 -9207992727245390875: 'm7',
 -9207938803334159501: 'm8',
 -9207683994561949453: 'm9',
 -9206222775446380981: 'm10',
 -9205603564578360879: 'm11',
 -9204246302766843482: 'm12',
 -9202801494022182981: 'm13',
 -9201451928704539517: 'm14',
 -9198490720191101975: 'm15',
 -9197533986719322394: 'm16',
 -9197413686674620725: 'm17',
 -9186624218311173146: 'm18',
 -9186372257785409588: 'm19',
 -9179793182211330025: 'm20',
 -9178794978343839265: 'm21',
 -9177770777448816478: 'm22',
 -9176686377883494741: 'm23',
 -9176365890837322967: 'm24',
 -9174235397148875092: 'm25',
 -9174064663949728849: 'm26',
 -9173570216444516790: 'm27',
 -9173566774685655352: 'm28',
 -9172290850563650285: 'm29',
 -9170103675056273681: 'm30',
 -9170099261064141402: 'm31',
 -9169612133827640783: 'm32',
 -9169543144120770753: 'm33',
 -9169530373343891910: 'm34',
 -9169183106431914125: 'm35',
 -9166104534554156854: 'm36',
 -9163957611130313443: 'm37',
 -9162724673884777152: 'm38',
 -9162357694637822209: 'm39',
 -9162326611384740994: 'm40',
 -9162139908604844580: 'm41',
 -9160778611153046657: 'm42',
 -9159760151662177206: 'm43',
 -9159101462749449705: 'm44',
 -9149382880585086286: 'm45',
 -9149350776758291638: 'm46',
 -9149107263320193302: 'm47',
 -9147748412355581534: 'm48',
 -9146515452629552004: 'm49',
 -9143886923031663412: 'm50',
 -9143841520389873954: 'm51',
 -9143379468396102123: 'm52',
 -9143276009416282185: 'm53',
 -9142561938141379586: 'm54',
 -9142549881736623359: 'm55',
 -9141518452332794201: 'm56',
 -9139969361225183903: 'm57',
 -9135361266042638987: 'm58',
 -9133005313594207496: 'm59',
 -9132511176962418236: 'm60',
 -9132398577210170977: 'm61',
 -9130480262539764659: 'm62',
 -9129437224435776691: 'm63',
 -9126970653396338022: 'm64',
 -9126209627852929706: 'm65',
 -9124970903081131467: 'm66',
 -9124435176949889738: 'm67',
 -9120160788452414036: 'm68',
 -9117918250333023686: 'm69',
 -9117030640075167502: 'm70',
 -9116989850915916616: 'm71',
 -9115036503198045030: 'm72',
 -9113680725875054990: 'm73',
 -9112454498240564044: 'm74',
 -9111602442909261506: 'm75',
 -9111595141342079632: 'm76',
 -9111475777010658111: 'm77',
 -9110087676846888453: 'm78',
 -9105960652631426476: 'm79',
 -9103503082615831046: 'm80',
 -9103448108316829614: 'm81',
 -9102012178558265176: 'm82',
 -9095045032266102734: 'm83',
 -9094746512031296320: 'm84',
 -9093984351660473030: 'm85',
 -9093912977766594177: 'm86',
 -9092677072201095172: 'm87',
 -9089197546621820224: 'm88',
 -9088954154881948405: 'm89',
 -9087563805080664514: 'm90',
 -9086733700265424673: 'm91',
 -9083761928150452309: 'm92',
 -9082958508782256065: 'm93',
 -9082492058134829037: 'm94',
 -9080477716679899421: 'm95',
 -9078264063273437318: 'm96',
 -9075972320597913866: 'm97',
 -9074225463807328031: 'm98',
 -9074212664219296309: 'm99',
 -9073187044409800752: 'm100',
 -9072633236848020065: 'm101',
 -9071054008395287286: 'm102',
 -9070302900237113572: 'm103',
 -9068129690754502564: 'm104',
 -9065148865556667656: 'm105',
 -9064845944487392243: 'm106',
 -9061396989501335911: 'm107',
 -9060376664956753517: 'm108',
 -9058835491699763170: 'm109',
 -9058353876156732236: 'm110',
 -9058257436963200341: 'm111',
 -9057264384018122669: 'm112',
 -9056293391601051348: 'm113',
 -9052816903205971731: 'm114',
 -9048590220839894587: 'm115',
 -9044503200344505097: 'm116',
 -9044151082252582354: 'm117',
 -9043688129783106410: 'm118',
 -9042647580421503071: 'm119',
 -9040498746804801540: 'm120',
 -9039699477327015733: 'm121',
 -9036595021815726505: 'm122',
 -9028353751140015212: 'm123',
 -9026687023736420810: 'm124',
 -9026156159047810326: 'm125',
 -9023598836234136608: 'm126',
 -9022476522022943367: 'm127',
 -9021286072413298755: 'm128',
 -9019779433020045517: 'm129',
 -9017737441254038385: 'm130',
 -9015757200096024434: 'm131',
 -9014571505309122028: 'm132',
 -9012266872309428658: 'm133',
 -9007753944727603530: 'm134',
 -9006701456442641261: 'm135',
 -9006048744252996179: 'm136',
 -9004393179953832785: 'm137',
 -9003243688235249741: 'm138',
 -9000877365919713455: 'm139',
 -9000575651224101287: 'm140',
 -8999432584346777092: 'm141',
 -8998298538406178334: 'm142',
 -8997856093426647374: 'm143',
 -8996449983208269423: 'm144',
 -8995393143463342374: 'm145',
 -8994952002849618557: 'm146',
 -8990912421802525100: 'm147',
 -8988288172837278293: 'm148',
 -8987253202397461571: 'm149',
 -8987139567230359925: 'm150',
 -8985869518906442844: 'm151',
 -8984648577864320243: 'm152',
 -8983795512945229673: 'm153',
 -8983529387207694038: 'm154',
 -8979860331949532871: 'm155',
 -8978771773101825975: 'm156',
 -8977543465751747715: 'm157',
 -8976199379106470669: 'm158',
 -8974548857297346806: 'm159',
 -8971567647426822930: 'm160',
 -8970647553719623066: 'm161',
 -8967526087296969241: 'm162',
 -8954877254855110721: 'm163',
 -8952985804488635522: 'm164',
 -8950190701748888981: 'm165',
 -8950070516412612028: 'm166',
 -8949121152347707073: 'm167',
 -8946810088797492879: 'm168',
 -8943391193455548344: 'm169',
 -8943387992920874916: 'm170',
 -8939979556395523176: 'm171',
 -8936681810120689173: 'm172',
 -8936506768022423675: 'm173',
 -8936380261210509993: 'm174',
 -8934900363936264461: 'm175',
 -8934056388528357869: 'm176',
 -8931440634887913085: 'm177',
 -8926743565342076782: 'm178',
 -8919758470918116834: 'm179',
 -8918554844986804696: 'm180',
 -8918218803068703615: 'm181',
 -8917462846170487200: 'm182',
 -8916722011541259442: 'm183',
 -8910863049397160848: 'm184',
 -8909253142414434965: 'm185',
 -8908578893003168728: 'm186',
 -8907744237167652071: 'm187',
 -8905933486170146349: 'm188',
 -8905830834252915808: 'm189',
 -8904398888663465641: 'm190',
 -8901837771321716253: 'm191',
 -8900946238541749613: 'm192',
 -8898997396037782125: 'm193',
 -8898727096433422719: 'm194',
 -8898166059123073448: 'm195',
 -8897581724098250807: 'm196',
 -8892792806032811569: 'm197',
 -8891599679005335302: 'm198',
 -8891462636785432818: 'm199',
 -8891372293798510201: 'm200',
 -8885472931588074276: 'm201',
 -8883332404323919961: 'm202',
 -8882848529365493727: 'm203',
 -8881997748462077126: 'm204',
 -8881906084474487327: 'm205',
 -8880972160522604672: 'm206',
 -8879180553018638506: 'm207',
 -8876889158508981931: 'm208',
 -8872684374857046717: 'm209',
 -8871566842573689333: 'm210',
 -8871504246889320326: 'm211',
 -8870966027406654220: 'm212',
 -8870803009714159810: 'm213',
 -8870050744400617541: 'm214',
 -8869684370436826792: 'm215',
 -8868321337875321910: 'm216',
 -8865636697117171603: 'm217',
 -8865270045527384517: 'm218',
 -8865122011336653409: 'm219',
 -8863281579237718007: 'm220',
 -8860750921709624183: 'm221',
 -8860160245820158938: 'm222',
 -8858879111109706737: 'm223',
 -8858502497192480826: 'm224',
 -8858246278510045253: 'm225',
 -8852430138359149447: 'm226',
 -8849213793494804172: 'm227',
 -8847566520182267308: 'm228',
 -8847319672858256692: 'm229',
 -8845801800256752889: 'm230',
 -8842697546819605429: 'm231',
 -8840252114438082545: 'm232',
 -8838110647460875444: 'm233',
 -8836609294140909052: 'm234',
 -8835156802469977080: 'm235',
 -8834602575985398713: 'm236',
 -8834261156286534802: 'm237',
 -8832932097973350229: 'm238',
 -8831919204343907525: 'm239',
 -8831225418364124364: 'm240',
 -8831179791569550339: 'm241',
 -8826771757378342137: 'm242',
 -8826348804033622422: 'm243',
 -8826039580314693581: 'm244',
 -8823522945327944677: 'm245',
 -8819795296002574579: 'm246',
 -8814484224059275102: 'm247',
 -8811992777627479794: 'm248',
 -8808993826207731205: 'm249',
 -8808575621620142719: 'm250',
 -8802090641317922613: 'm251',
 -8799937655576836813: 'm252',
 -8798331441203866966: 'm253',
 -8792644795144166564: 'm254',
 -8792492736139844438: 'm255',
 -8791184262077241066: 'm256',
 -8791072019670330665: 'm257',
 -8789005470230034650: 'm258',
 -8788381980133026131: 'm259',
 -8786433230638324964: 'm260',
 -8785033032599914370: 'm261',
 -8783787296221021079: 'm262',
 -8780215280620749414: 'm263',
 -8778793777262218928: 'm264',
 -8778644413003582806: 'm265',
 -8777424717334698135: 'm266',
 -8776571742391016946: 'm267',
 -8775194016969164891: 'm268',
 -8771180394043934205: 'm269',
 -8771075551981569351: 'm270',
 -8770478225092168595: 'm271',
 -8769942834442317375: 'm272',
 -8769101824099044051: 'm273',
 -8764304247867912751: 'm274',
 -8763794506557045778: 'm275',
 -8762353203736920853: 'm276',
 -8762318084486241458: 'm277',
 -8761185464819361228: 'm278',
 -8760227382162647166: 'm279',
 -8759969930287967921: 'm280',
 -8758052323413582980: 'm281',
 -8757819604707263277: 'm282',
 -8757385256235680713: 'm283',
 -8756901308592001764: 'm284',
 -8753965788092592685: 'm285',
 -8752282803683341315: 'm286',
 -8751401311732285707: 'm287',
 -8751255210949499344: 'm288',
 -8749282343317189727: 'm289',
 -8744767732912475840: 'm290',
 -8744069728278193862: 'm291',
 -8743550761471614069: 'm292',
 -8742370644418572766: 'm293',
 -8742109321690270933: 'm294',
 -8739671820202730873: 'm295',
 -8739259321224610280: 'm296',
 -8736923190714533770: 'm297',
 -8736160396757878014: 'm298',
 -8734820506379388779: 'm299',
 -8733402887366759764: 'm300',
 -8733215132627171953: 'm301',
 -8732389325242534237: 'm302',
 -8732071270931697552: 'm303',
 -8728837507959629735: 'm304',
 -8728593805289137538: 'm305',
 -8727342997517827026: 'm306',
 -8724090689576264483: 'm307',
 -8723517353448444174: 'm308',
 -8723000987926691413: 'm309',
 -8722956869127818915: 'm310',
 -8717231072292877719: 'm311',
 -8716092790250479409: 'm312',
 -8714923738474373928: 'm313',
 -8711097352445516387: 'm314',
 -8709700857881424225: 'm315',
 -8708510108009492093: 'm316',
 -8706318659892224738: 'm317',
 -8703756188196341252: 'm318',
 -8703078079788082546: 'm319',
 -8702869862901532595: 'm320',
 -8702653121356225255: 'm321',
 -8700141106323237799: 'm322',
 -8700065760160479353: 'm323',
 -8694626790766507114: 'm324',
 -8692646176951806497: 'm325',
 -8691439302472602592: 'm326',
 -8687812331254179854: 'm327',
 -8686826705115959247: 'm328',
 -8684910176911161121: 'm329',
 -8683761188437624771: 'm330',
 -8678698935761888393: 'm331',
 -8675917251353510455: 'm332',
 -8673482736456718904: 'm333',
 -8673300443357078870: 'm334',
 -8670603837484961088: 'm335',
 -8670081113017962535: 'm336',
 -8667648090164581759: 'm337',
 -8667237705747172919: 'm338',
 -8662499586663721309: 'm339',
 -8661241541653930799: 'm340',
 -8660831668932383491: 'm341',
 -8660711635512083464: 'm342',
 -8660060159609967045: 'm343',
 -8659348811495924822: 'm344',
 -8656791433736555730: 'm345',
 -8652027709424751848: 'm346',
 -8647735788953878905: 'm347',
 -8647422400222839884: 'm348',
 -8643494664324122551: 'm349',
 -8640062529418481881: 'm350',
 -8637159066443074076: 'm351',
 -8636942487267921890: 'm352',
 -8636004605401645920: 'm353',
 -8634440458063470945: 'm354',
 -8628423918772225281: 'm355',
 -8627029193234189771: 'm356',
 -8626001581545780258: 'm357',
 -8625951993116618464: 'm358',
 -8624646804941759969: 'm359',
 -8624370880144274279: 'm360',
 -8617922243083016277: 'm361',
 -8617795841216673609: 'm362',
 -8616309395907710698: 'm363',
 -8611886587971408976: 'm364',
 -8610653303778558441: 'm365',
 -8609314650325537994: 'm366',
 -8605878685820675024: 'm367',
 -8604412276345576919: 'm368',
 -8604383033725084263: 'm369',
 -8602916429910127927: 'm370',
 -8601428141893337620: 'm371',
 -8601082586355349829: 'm372',
 -8600675474336859032: 'm373',
 -8600460344832039699: 'm374',
 -8599659094713912723: 'm375',
 -8599512457509554528: 'm376',
 -8598048665759841707: 'm377',
 -8591274267748496674: 'm378',
 -8589478672861657414: 'm379',
 -8587003945482417540: 'm380',
 -8586925504433281355: 'm381',
 -8586125927960189159: 'm382',
 -8585785140959202087: 'm383',
 -8583776753360849651: 'm384',
 -8583600178961461096: 'm385',
 -8583121288477448017: 'm386',
 -8582248712906849881: 'm387',
 -8577185550868551762: 'm388',
 -8575943878123640794: 'm389',
 -8575916293341796188: 'm390',
 -8575401321499837106: 'm391',
 -8570636469869964215: 'm392',
 -8570474465052670265: 'm393',
 -8569744377361300493: 'm394',
 -8569718718049945547: 'm395',
 -8566967134247097119: 'm396',
 -8566951830324093739: 'm397',
 -8563842171235750093: 'm398',
 -8563206253795252962: 'm399',
 -8562129882647610602: 'm400',
 -8562114645120782332: 'm401',
 -8562062254258903873: 'm402',
 -8560870230098316249: 'm403',
 -8557072795341171503: 'm404',
 -8556484698486196071: 'm405',
 -8555851016200306073: 'm406',
 -8555537260945813254: 'm407',
 -8555004044316535610: 'm408',
 -8554779905667789205: 'm409',
 -8554097267349541355: 'm410',
 -8553927594048054233: 'm411',
 -8553729007078861738: 'm412',
 -8551042844988651404: 'm413',
 -8550213963118676194: 'm414',
 -8548988328988257249: 'm415',
 -8547879531131637838: 'm416',
 -8546932702512320398: 'm417',
 -8546270109144651697: 'm418',
 -8544954364412369283: 'm419',
 -8537581029942326575: 'm420',
 -8537415025316421638: 'm421',
 -8536557872354324153: 'm422',
 -8536501441309969254: 'm423',
 -8536415451769599899: 'm424',
 -8535249906534933349: 'm425',
 -8534210775006529275: 'm426',
 -8533952832272359727: 'm427',
 -8532457016365190707: 'm428',
 -8530433049217136661: 'm429',
 -8529525556380185144: 'm430',
 -8527170011792062437: 'm431',
 -8526789209045939328: 'm432',
 -8525527806220124516: 'm433',
 -8525276212515776135: 'm434',
 -8524581203302873819: 'm435',
 -8524328519598010775: 'm436',
 -8523962004318343834: 'm437',
 -8523337091882008443: 'm438',
 -8523251269153463453: 'm439',
 -8521589780838535043: 'm440',
 -8520882648966780858: 'm441',
 -8520431595987228573: 'm442',
 -8520273828699923660: 'm443',
 -8518884370522224089: 'm444',
 -8518728427052005432: 'm445',
 -8518196340421526202: 'm446',
 -8517985100559796653: 'm447',
 -8516681658274877993: 'm448',
 -8513351063274937964: 'm449',
 -8509774896822397439: 'm450',
 -8509390940150660407: 'm451',
 -8506198726270667357: 'm452',
 -8503780931553232584: 'm453',
 -8503001248817344891: 'm454',
 -8495974015847429056: 'm455',
 -8495350581906608557: 'm456',
 -8492900457803498761: 'm457',
 -8490680764486009604: 'm458',
 -8489421690145588412: 'm459',
 -8489026063714098441: 'm460',
 -8488113891976846711: 'm461',
 -8486466413747031751: 'm462',
 -8485067113823362058: 'm463',
 -8482301477237514619: 'm464',
 -8480629392437943010: 'm465',
 -8476587065485067155: 'm466',
 -8476294081789007373: 'm467',
 -8475930877983668274: 'm468',
 -8475820805370449467: 'm469',
 -8475493549782827292: 'm470',
 -8475224213159133248: 'm471',
 -8473651868017700874: 'm472',
 -8472514533704959735: 'm473',
 -8472461862977283575: 'm474',
 -8472015155322858642: 'm475',
 -8470991791270623359: 'm476',
 -8470843086648034871: 'm477',
 -8469804170246456781: 'm478',
 -8467710475698539836: 'm479',
 -8466838818010331354: 'm480',
 -8463914536760719333: 'm481',
 -8460683054734968685: 'm482',
 -8458863060327598627: 'm483',
 -8458300319642993389: 'm484',
 -8457365760080597732: 'm485',
 -8454680328637319248: 'm486',
 -8451992245525782314: 'm487',
 -8451653376503810908: 'm488',
 -8451574403590542035: 'm489',
 -8449165784672943853: 'm490',
 -8447165548410660242: 'm491',
 -8446839706662058980: 'm492',
 -8444264858162217481: 'm493',
 -8442060830605140478: 'm494',
 -8441696352041979756: 'm495',
 -8435648745685360761: 'm496',
 -8434437910111024783: 'm497',
 -8433168590915374431: 'm498',
 -8431202718235186870: 'm499',
 -8428075965585128343: 'm500',
 -8426611511464106304: 'm501',
 -8426196758014115079: 'm502',
 -8424978466899325796: 'm503',
 -8424730519001717773: 'm504',
 -8423260136018787481: 'm505',
 -8422181628135338151: 'm506',
 -8421677777105559963: 'm507',
 -8419234292706589599: 'm508',
 -8416201313558887730: 'm509',
 -8415731637042444788: 'm510',
 -8414482769824038741: 'm511',
 -8408860211649002936: 'm512',
 -8405769509729245563: 'm513',
 -8405285785047681224: 'm514',
 -8400719638380824307: 'm515',
 -8400326878631748497: 'm516',
 -8398428263466814679: 'm517',
 -8398061994918405356: 'm518',
 -8396966421825578892: 'm519',
 -8395937966791672585: 'm520',
 -8395853039248247208: 'm521',
 -8395590471505905275: 'm522',
 -8394603235408536621: 'm523',
 -8390495502236448004: 'm524',
 -8389390762812283003: 'm525',
 -8387626409540212502: 'm526',
 -8386410990456936897: 'm527',
 -8385616802578837241: 'm528',
 -8385544894527524983: 'm529',
 -8385190030397541107: 'm530',
 -8384568426755457557: 'm531',
 -8383926242937251416: 'm532',
 -8382523779970627606: 'm533',
 -8382358210175143728: 'm534',
 -8381582453107531282: 'm535',
 -8379877227909410718: 'm536',
 -8378836626676662029: 'm537',
 -8377661325259099389: 'm538',
 -8374314615768146373: 'm539',
 -8371671331076305688: 'm540',
 -8369741420309114045: 'm541',
 -8369349991893250774: 'm542',
 -8367866455349750342: 'm543',
 -8367483025377053649: 'm544',
 -8367257615327185868: 'm545',
 -8367204870092520462: 'm546',
 -8366837435241802831: 'm547',
 -8360906833502539567: 'm548',
 -8359478091971001972: 'm549',
 -8359179996327331604: 'm550',
 -8352151955415378661: 'm551',
 -8348992453790304721: 'm552',
 -8348728165032715134: 'm553',
 -8346396146708022106: 'm554',
 -8344727289897365482: 'm555',
 -8343607180752301878: 'm556',
 -8343427078283323895: 'm557',
 -8340136609839635922: 'm558',
 -8339947492643405971: 'm559',
 -8338381919281017248: 'm560',
 -8336047155386525878: 'm561',
 -8333175541167918414: 'm562',
 -8330248956361623313: 'm563',
 -8330070405418033973: 'm564',
 -8329507866255036755: 'm565',
 -8329239785690096190: 'm566',
 -8328739823552460352: 'm567',
 -8323102637368917609: 'm568',
 -8320206134819465457: 'm569',
 -8317932742961430401: 'm570',
 -8317676343863313493: 'm571',
 -8317551561934308164: 'm572',
 -8311839090076379889: 'm573',
 -8310737831045238316: 'm574',
 -8309253737864612262: 'm575',
 -8306620732414817494: 'm576',
 -8304221801539535678: 'm577',
 -8303007037932836407: 'm578',
 -8295917067650918729: 'm579',
 -8293865976430552301: 'm580',
 -8292553818378082499: 'm581',
 -8290127457187129708: 'm582',
 -8289802030513348838: 'm583',
 -8286056506551324406: 'm584',
 -8282102360328643057: 'm585',
 -8280056333292949349: 'm586',
 -8280053203756808495: 'm587',
 -8279947826625154775: 'm588',
 -8279543599409610197: 'm589',
 -8279226507383424564: 'm590',
 -8278324889552436372: 'm591',
 -8274296019220792946: 'm592',
 -8273359128829815234: 'm593',
 -8272592789616698940: 'm594',
 -8271995730081403067: 'm595',
 -8271171164207222994: 'm596',
 -8270535405320544358: 'm597',
 -8269298256514462538: 'm598',
 -8266831712228884760: 'm599',
 -8266232575975451490: 'm600',
 -8262643444249394822: 'm601',
 -8262618672799244678: 'm602',
 -8261892743512657400: 'm603',
 -8261280637950862638: 'm604',
 -8258744770571679246: 'm605',
 -8255853614777221354: 'm606',
 -8255340643315052930: 'm607',
 -8254803286035178339: 'm608',
 -8254405722253003769: 'm609',
 -8253256104156024680: 'm610',
 -8252421022844897480: 'm611',
 -8250464851947475348: 'm612',
 -8249031964183870765: 'm613',
 -8248619352412097697: 'm614',
 -8248039403275296916: 'm615',
 -8246017168985702098: 'm616',
 -8245450850908073286: 'm617',
 -8244938005135546723: 'm618',
 -8241109315062258674: 'm619',
 -8237048354858564806: 'm620',
 -8235775886719206979: 'm621',
 -8232321949701822631: 'm622',
 -8231811999610279241: 'm623',
 -8230328272254340794: 'm624',
 -8229960943903365581: 'm625',
 -8228619792169153684: 'm626',
 -8228611544555662700: 'm627',
 -8221614414111080173: 'm628',
 -8215975848034785315: 'm629',
 -8214037905559895490: 'm630',
 -8212442514369558071: 'm631',
 -8210399138308023303: 'm632',
 -8210238826791407654: 'm633',
 -8209733013572479204: 'm634',
 -8209289843290443409: 'm635',
 -8205715098526464068: 'm636',
 -8205372634108540619: 'm637',
 -8202771635295709545: 'm638',
 -8199871649833496784: 'm639',
 -8198347608427553881: 'm640',
 -8197870176919077762: 'm641',
 -8196874811937733908: 'm642',
 -8195715015376589776: 'm643',
 -8194607650924472520: 'm644',
 -8194579483471190227: 'm645',
 -8192431527319870678: 'm646',
 -8191491201843859937: 'm647',

In [ ]:
# Takes time
df_sample['Merchant Name'] = df_sample['Merchant Name'].replace(map_dict, inplace= False)

In [ ]:
df_sample.head()

  User  Year  Amount Merchant Name  Merchant City Is Fraud?
0   u0  2002  134.09         m7466       La Verne        No
1   u0  2002   38.48         m4998  Monterey Park        No
2   u0  2002  120.34         m4998  Monterey Park        No
3   u0  2002  128.95         m7393  Monterey Park        No
4   u0  2002  104.71         m8834       La Verne        No

### User Nodes

In [ ]:
## Group by user
grpd_user = df_sample.groupby(['User'])
user_nodes = grpd_user['Amount'].mean().reset_index()
user_nodes = user_nodes.round(decimals = 2)
user_nodes.head()

   User  Amount
0    u0   84.78
1    u1   41.82
2   u10   44.98
3  u100  100.45
4  u101   40.78

In [ ]:
#user_nodes['User'] = user_nodes['User'].apply(str)
#user_nodes['a'] = "u"
#user_nodes['User'] = user_nodes['a'].str.cat(user_nodes['User'])
#_= user_nodes.pop('a')

In [ ]:
user_nodes.head()

   User  Amount
0    u0   84.78
1    u1   41.82
2   u10   44.98
3  u100  100.45
4  u101   40.78

In [ ]:
# Which of the users have committed fraud
df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'User' ].unique()
users_suspect = df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'User' ].unique()
len(users_suspect)

array(['u12', 'u16', 'u43', 'u103', 'u117', 'u131', 'u171', 'u183',
       'u196', 'u198', 'u210', 'u212', 'u228', 'u235', 'u244', 'u264',
       'u315', 'u335', 'u349', 'u361', 'u373', 'u381', 'u384', 'u388',
       'u413'], dtype=object)

25

In [ ]:
user_nodes['suspect'] = "No" 
user_nodes['Cat'] = 'Member'

In [ ]:
for i in users_suspect:
  user_nodes.loc[user_nodes['User'] == i, 'suspect' ] = "Yes"

In [ ]:
user_nodes['suspect'].value_counts()  # No: 401, 'Yes: 25

No     401
Yes     25
Name: suspect, dtype: int64

In [ ]:
user_nodes.head()

   User  Amount suspect     Cat
0    u0   84.78      No  Member
1    u1   41.82      No  Member
2   u10   44.98      No  Member
3  u100  100.45      No  Member
4  u101   40.78      No  Member

In [ ]:
user_nodes['Label'] = user_nodes['User']
user_nodes = user_nodes.rename(columns = {'User': "Id"})

In [ ]:
user_nodes.head()

     Id  Amount suspect     Cat Label
0    u0   84.78      No  Member    u0
1    u1   41.82      No  Member    u1
2   u10   44.98      No  Member   u10
3  u100  100.45      No  Member  u100
4  u101   40.78      No  Member  u101

In [ ]:
user_nodes['suspect_n'] = user_nodes['suspect']
user_nodes['suspect_n'] = user_nodes['suspect_n'].map({"Yes":1 , "No" : 0})

In [ ]:
user_nodes.to_csv("creditCard_users.csv", index = False, sep = ";")

### Merchant nodes

In [ ]:
## Group by merchant
grpd_merchant = df_sample.groupby(['Merchant Name'])
merchant_nodes = grpd_merchant['Amount'].mean().reset_index()
merchant_nodes = merchant_nodes.round(2)
merchant_nodes.head()

  Merchant Name  Amount
0            m0  104.40
1            m1   18.14
2           m10  186.43
3          m100   18.96
4         m1000    5.00

In [ ]:
# For which of the merchants fraud comitted
df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'Merchant Name' ].unique()
merchant_suspect = df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'Merchant Name' ].unique()
len(merchant_suspect)

array(['m8978', 'm2242', 'm8070', 'm2241', 'm7725', 'm9211', 'm5086',
       'm6523', 'm4461', 'm5917', 'm9139', 'm814', 'm9344', 'm1118',
       'm3261', 'm5437', 'm3758', 'm5091', 'm3777', 'm1270', 'm10751',
       'm6848', 'm2174', 'm5283', 'm1856', 'm2364', 'm8199', 'm5548',
       'm9850', 'm10682', 'm7528', 'm10183', 'm8246', 'm9405', 'm8985',
       'm397', 'm4637', 'm1471', 'm4333', 'm2234', 'm3470', 'm2655',
       'm6654', 'm91', 'm2052', 'm5110', 'm4233', 'm1016', 'm9658',
       'm9321', 'm1485', 'm7274', 'm6370', 'm2015', 'm6985', 'm7393',
       'm9329', 'm5613', 'm9045', 'm8473', 'm3570', 'm5705', 'm4693',
       'm5934', 'm5247', 'm7082', 'm5466', 'm874', 'm10498', 'm4976',
       'm8834', 'm2115', 'm1721', 'm4250', 'm3655', 'm2286'], dtype=object)

76

In [ ]:
merchant_nodes['suspect'] = "No" 
merchant_nodes['Cat'] = 'Institution'

In [ ]:
for i in merchant_suspect:
  merchant_nodes.loc[merchant_nodes['Merchant Name'] == i, 'suspect' ] = "Yes"

In [ ]:
merchant_nodes['suspect'].value_counts()  # 10777, 76

No     10777
Yes       76
Name: suspect, dtype: int64

In [ ]:
merchant_nodes['Label'] = merchant_nodes['Merchant Name']
merchant_nodes = merchant_nodes.rename(columns = {'Merchant Name': "Id"})
merchant_nodes.head()

      Id  Amount suspect          Cat  Label
0     m0  104.40      No  Institution     m0
1     m1   18.14      No  Institution     m1
2    m10  186.43      No  Institution    m10
3   m100   18.96      No  Institution   m100
4  m1000    5.00      No  Institution  m1000

In [ ]:
merchant_nodes['suspect_n'] = merchant_nodes['suspect']
merchant_nodes['suspect_n'] = merchant_nodes['suspect_n'].map({"Yes":1 , "No" : 0})

In [ ]:
merchant_nodes.head()

      Id  Amount suspect          Cat  Label  suspect_n
0     m0  104.40      No  Institution     m0          0
1     m1   18.14      No  Institution     m1          0
2    m10  186.43      No  Institution    m10          0
3   m100   18.96      No  Institution   m100          0
4  m1000    5.00      No  Institution  m1000          0

In [ ]:
merchant_nodes.to_csv("creditCard_merchants.csv", index = False, sep = ";")

### Edges

In [ ]:
# Group by User and Merchant Name
edges = df_sample.groupby([df_sample['User'], df_sample['Merchant Name']]).size()

In [ ]:
edges = df_sample[['User', 'Merchant Name']].groupby(['User', 'Merchant Name']).size().reset_index()
edges = edges.rename(columns = { 0 : "weight"})
edges.head()

  User Merchant Name  weight
0   u0        m10039       3
1   u0        m10101       5
2   u0        m10183       1
3   u0        m10800       2
4   u0         m1118       5

In [ ]:
edges = edges.rename(columns = {'User': 'Source', 'Merchant Name': 'Target'})

In [ ]:
edges['Type']= 'Undirected'

In [ ]:
edges.head()

  Source  Target  weight        Type
0     u0  m10039       3  Undirected
1     u0  m10101       5  Undirected
2     u0  m10183       1  Undirected
3     u0  m10800       2  Undirected
4     u0   m1118       5  Undirected

In [ ]:
edges.to_csv("credit_card_edges.csv", index = False, sep = ";")

In [ ]:
########### Done ###########