<a href="https://colab.research.google.com/github/harnalashok/hadoop/blob/main/credit_card_transactions_network_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Last amended: 18th March, 2022
# Data source: https://ibm.ent.box.com/v/tabformer-data/folder/130747715605
# Data source simulator: https://fraud-detection-handbook.github.io/fraud-detection-handbook/Foreword.html
# Objective: Discovering community or collaboration among
#            credit-card fraudsters.

### Call libraries

In [192]:
# 1.0
import pandas as pd
import numpy as np
import os

In [193]:
# 1.1
pd.__version__  # 1.3.5

'1.3.5'

In [194]:
# 1.2 Display cell outputs from multiple commands
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Mount google drive

In [195]:
# 2.0 Mount to ccma@fsm.ac.in
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [196]:
# 2.1 Check credit card data files
!ls /gdrive/MyDrive/credit_card_transactions/

card_transaction_v1.csv  creditCard_edges.csv	   sample_2002.csv
card_transaction_v1.zip  creditCard_merchants.csv
credit_card_edges.csv	 creditCard_users.csv

In [197]:
# 2.2 Change current directory
path = "/gdrive/MyDrive/credit_card_transactions/"
os.chdir(path)
os.listdir()

['.ipynb_checkpoints',
 'sample_2002.csv',
 'creditCard_users.csv',
 'creditCard_merchants.csv',
 'credit_card_edges.csv',
 'card_transaction_v1.csv',
 'card_transaction_v1.zip',
 'creditCard_edges.csv']

column names:  
User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?   
Sample data:  
0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,,No
0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,,No

### Read full data and store a sample

In [198]:
# 3.0 Read data. File size is > 2gb
#     Takes around 
#     User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
#     MCC : Merchant Category code:  A four-digit number that describes a merchant's primary business activities. 
#     Feel free to include more fields (city, time of transaction etc) and analyse:
#
%%time
df = pd.read_csv("card_transaction_v1.csv",
                 usecols = ["User", "Year", "Merchant Name", "Merchant City", "Amount", "MCC", "Is Fraud?"])

CPU times: user 24.4 s, sys: 8.73 s, total: 33.1 s
Wall time: 35.3 s

In [199]:
# 3.1 Our data:
df.head()
df.tail()
df.shape   # (24386900, 6)

   User  Year   Amount        Merchant Name  Merchant City   MCC Is Fraud?
0     0  2002  $134.09  3527213246127876953       La Verne  5300        No
1     0  2002   $38.48  -727612092139916043  Monterey Park  5411        No
2     0  2002  $120.34  -727612092139916043  Monterey Park  5411        No
3     0  2002  $128.95  3414527459579106770  Monterey Park  5651        No
4     0  2002  $104.71  5817218446178736267       La Verne  5912        No

,User,Year,Amount,Merchant Name,Merchant City,MCC,Is Fraud?
24386895,1999,2020,$-54.00,-5162038175624867091,Merrimack,5541,No
24386896,1999,2020,$54.00,-5162038175624867091,Merrimack,5541,No
24386897,1999,2020,$59.15,2500998799892805156,Merrimack,4121,No
24386898,1999,2020,$43.12,2500998799892805156,Merrimack,4121,No
24386899,1999,2020,$45.13,4751695835751691036,Merrimack,5814,No

(24386900, 7)

In [200]:
# 3.2 Attempt should be made to
#     reduce data size:

df.dtypes

User              int64
Year              int64
Amount           object
Merchant Name     int64
Merchant City    object
MCC               int64
Is Fraud?        object
dtype: object

In [201]:
# 3.3 Is data balanced?

df['Is Fraud?'].value_counts()
print("\n")
df['Is Fraud?'].value_counts(normalize = True)  # 99.78% vs 0.12%

No     24357143
Yes       29757
Name: Is Fraud?, dtype: int64

No     0.99878
Yes    0.00122
Name: Is Fraud?, dtype: float64

In [202]:
# 3.4 Remove '$' sign from 'Amount':
#     Takes time 15 secs:
%%time
df['Amount']=df['Amount'].str.replace("$", "")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

CPU times: user 11.5 s, sys: 1.83 s, total: 13.3 s
Wall time: 13.3 s

In [203]:
# 3.5 Convert 'Amount' to numeric:
df['Amount'] = pd.to_numeric(df['Amount'])

In [204]:
# 3.6 Data shape
df.shape   # rows: 243,86,900; cols: 6)

(24386900, 7)

#### Store a sample of data

In [205]:
# 4.0 As RAM is limited, we will work
#     with a sample for the year 2002:

dfsample = df.loc[df['Year'] == 2002, :]

In [206]:
# 4.1 Sample size: 
dfsample.shape   # (350732, 6)

(350732, 7)

In [207]:
# 4.2 How many incidents of frauds?
dfsample['Is Fraud?'].value_counts()   # Yes: 139, No: 350593

No     350593
Yes       139
Name: Is Fraud?, dtype: int64

In [208]:
# 4.3 Should you like to save this sample
#     for latter quick reading?

dfsample.to_csv("sample_2002.csv", index = False)

### Read sample of data

In [144]:
%%time
df = pd.read_csv(path+"sample_2002.csv")

CPU times: user 253 ms, sys: 24.2 ms, total: 277 ms
Wall time: 313 ms

### Perform processing on data

In [145]:
# 4.4 We work with a copy of data
#     If, we make mistakes, we come back here:

df_sample = dfsample.copy()

In [146]:
# 4.5 And our data:
df_sample.head()

   User  Year  Amount        Merchant Name  Merchant City   MCC Is Fraud?
0     0  2002  134.09  3527213246127876953       La Verne  5300        No
1     0  2002   38.48  -727612092139916043  Monterey Park  5411        No
2     0  2002  120.34  -727612092139916043  Monterey Park  5411        No
3     0  2002  128.95  3414527459579106770  Monterey Park  5651        No
4     0  2002  104.71  5817218446178736267       La Verne  5912        No

### Change user IDs
> 1.0 Know unique user names and transform them to short names  
> 2.0 Prepare a dictionary of user-ids and proposed Ids  
> 3.0 Make changes to our dataset using the dictionary

In [147]:
# 5.0 To distinguish userids on network graph,
#     we will prefix userids with 'u' and also assign
#      them a short name so that they fit within nodes 
#       when displayed on graph:

#    First get unique user names
u_user = df_sample['User'].unique()

In [148]:
# 5.1
u_user.sort()
u_user
print("\n")  
len(u_user)  # 426

array([   0,    2,    4,    5,   15,   19,   22,   23,   34,   40,   42,
         47,   48,   49,   53,   55,   66,   74,   75,   77,   81,   83,
         87,   89,   98,  100,  102,  109,  112,  122,  123,  134,  136,
        137,  139,  148,  149,  150,  151,  156,  162,  177,  178,  181,
        184,  185,  187,  188,  192,  201,  205,  215,  220,  234,  239,
        242,  243,  252,  255,  257,  261,  266,  275,  285,  287,  292,
        304,  309,  319,  329,  332,  343,  344,  348,  359,  361,  370,
        376,  377,  385,  390,  393,  396,  398,  405,  413,  417,  426,
        440,  445,  446,  449,  456,  464,  466,  473,  474,  480,  481,
        486,  487,  488,  489,  490,  497,  500,  502,  504,  510,  511,
        513,  519,  525,  531,  540,  545,  548,  549,  552,  556,  562,
        564,  569,  574,  576,  579,  580,  583,  598,  614,  615,  619,
        625,  628,  635,  667,  669,  672,  673,  680,  683,  688,  690,
        693,  697,  705,  713,  720,  726,  731,  736,  746,  747,  759,
        761,  764,  771,  776,  777,  780,  787,  791,  797,  801,  805,
        806,  807,  808,  813,  817,  822,  824,  827,  829,  831,  832,
        835,  838,  841,  848,  851,  854,  856,  861,  874,  884,  885,
        888,  896,  897,  899,  904,  906,  914,  918,  923,  928,  929,
        938,  946,  949,  956,  959,  973,  976,  980,  983,  986,  990,
        991, 1006, 1008, 1010, 1019, 1021, 1030, 1032, 1036, 1038, 1052,
       1057, 1059, 1060, 1062, 1064, 1069, 1071, 1080, 1081, 1085, 1088,
       1090, 1096, 1097, 1098, 1104, 1110, 1111, 1117, 1121, 1122, 1123,
       1136, 1140, 1154, 1159, 1166, 1178, 1180, 1181, 1188, 1191, 1196,
       1201, 1206, 1207, 1212, 1223, 1224, 1228, 1231, 1234, 1236, 1238,
       1250, 1258, 1261, 1266, 1267, 1270, 1291, 1295, 1297, 1298, 1304,
       1307, 1311, 1312, 1313, 1315, 1317, 1320, 1325, 1328, 1330, 1334,
       1338, 1342, 1354, 1361, 1362, 1364, 1366, 1377, 1379, 1380, 1387,
       1392, 1395, 1403, 1412, 1415, 1417, 1419, 1420, 1423, 1425, 1428,
       1438, 1441, 1448, 1459, 1476, 1482, 1487, 1490, 1495, 1496, 1497,
       1506, 1515, 1520, 1526, 1528, 1529, 1532, 1533, 1534, 1535, 1545,
       1546, 1558, 1562, 1564, 1567, 1572, 1575, 1576, 1588, 1589, 1590,
       1593, 1596, 1604, 1607, 1608, 1617, 1618, 1627, 1630, 1634, 1636,
       1638, 1641, 1644, 1669, 1671, 1673, 1675, 1678, 1681, 1683, 1691,
       1704, 1706, 1708, 1710, 1711, 1712, 1722, 1725, 1726, 1727, 1730,
       1734, 1739, 1741, 1742, 1753, 1766, 1768, 1772, 1773, 1778, 1779,
       1781, 1785, 1788, 1791, 1794, 1795, 1800, 1807, 1810, 1823, 1840,
       1847, 1852, 1854, 1859, 1870, 1884, 1887, 1888, 1889, 1893, 1894,
       1896, 1897, 1903, 1904, 1911, 1917, 1918, 1930, 1933, 1934, 1952,
       1955, 1958, 1961, 1963, 1971, 1993, 1996, 1997])

426

In [149]:
# 5.2 Get alternate names by prefixing userids with 'u'

# 5.2.1 Transform sorted-user array to a dataframe; Get its index as a column; Rename new column as 'alt_name'
#       So, alternate names are sequenial: 0,1,2,3.. and final names will be: u1,u2,u3...
dx = pd.DataFrame(u_user, columns = ["u_user"]).reset_index().rename(columns = {'index' : 'alt_name' })

# 5.2.2 Transform the new column to string
dx['alt_name'] = dx['alt_name'].apply(str)

# 5.2.3 Create a new column 'a' with a constant value:
dx['a'] = "u"

# 5.2.4 Concatenate 'a' column and 'alt_name' column:
dx['alt_name'] = dx['a'].str.cat(dx['alt_name']) 

# 5.2.5 Drop 'a'
_=dx.pop('a')

# 5.2.6 Check:
dx.head()

  alt_name  u_user
0       u0       0
1       u1       2
2       u2       4
3       u3       5
4       u4      15

In [150]:
# 5.3 Prepare a dictionary having
#     old names (key) and new names (value) 
#     for further transformation:

# https://stackoverflow.com/a/20250947/3282777
map_dict = dict(zip(dx['u_user'], dx['alt_name']))
map_dict

{0: 'u0',
 2: 'u1',
 4: 'u2',
 5: 'u3',
 15: 'u4',
 19: 'u5',
 22: 'u6',
 23: 'u7',
 34: 'u8',
 40: 'u9',
 42: 'u10',
 47: 'u11',
 48: 'u12',
 49: 'u13',
 53: 'u14',
 55: 'u15',
 66: 'u16',
 74: 'u17',
 75: 'u18',
 77: 'u19',
 81: 'u20',
 83: 'u21',
 87: 'u22',
 89: 'u23',
 98: 'u24',
 100: 'u25',
 102: 'u26',
 109: 'u27',
 112: 'u28',
 122: 'u29',
 123: 'u30',
 134: 'u31',
 136: 'u32',
 137: 'u33',
 139: 'u34',
 148: 'u35',
 149: 'u36',
 150: 'u37',
 151: 'u38',
 156: 'u39',
 162: 'u40',
 177: 'u41',
 178: 'u42',
 181: 'u43',
 184: 'u44',
 185: 'u45',
 187: 'u46',
 188: 'u47',
 192: 'u48',
 201: 'u49',
 205: 'u50',
 215: 'u51',
 220: 'u52',
 234: 'u53',
 239: 'u54',
 242: 'u55',
 243: 'u56',
 252: 'u57',
 255: 'u58',
 257: 'u59',
 261: 'u60',
 266: 'u61',
 275: 'u62',
 285: 'u63',
 287: 'u64',
 292: 'u65',
 304: 'u66',
 309: 'u67',
 319: 'u68',
 329: 'u69',
 332: 'u70',
 343: 'u71',
 344: 'u72',
 348: 'u73',
 359: 'u74',
 361: 'u75',
 370: 'u76',
 376: 'u77',
 377: 'u78',
 385: 'u79',
 390: 'u80',
 393: 'u81',
 396: 'u82',
 398: 'u83',
 405: 'u84',
 413: 'u85',
 417: 'u86',
 426: 'u87',
 440: 'u88',
 445: 'u89',
 446: 'u90',
 449: 'u91',
 456: 'u92',
 464: 'u93',
 466: 'u94',
 473: 'u95',
 474: 'u96',
 480: 'u97',
 481: 'u98',
 486: 'u99',
 487: 'u100',
 488: 'u101',
 489: 'u102',
 490: 'u103',
 497: 'u104',
 500: 'u105',
 502: 'u106',
 504: 'u107',
 510: 'u108',
 511: 'u109',
 513: 'u110',
 519: 'u111',
 525: 'u112',
 531: 'u113',
 540: 'u114',
 545: 'u115',
 548: 'u116',
 549: 'u117',
 552: 'u118',
 556: 'u119',
 562: 'u120',
 564: 'u121',
 569: 'u122',
 574: 'u123',
 576: 'u124',
 579: 'u125',
 580: 'u126',
 583: 'u127',
 598: 'u128',
 614: 'u129',
 615: 'u130',
 619: 'u131',
 625: 'u132',
 628: 'u133',
 635: 'u134',
 667: 'u135',
 669: 'u136',
 672: 'u137',
 673: 'u138',
 680: 'u139',
 683: 'u140',
 688: 'u141',
 690: 'u142',
 693: 'u143',
 697: 'u144',
 705: 'u145',
 713: 'u146',
 720: 'u147',
 726: 'u148',
 731: 'u149',
 736: 'u150',
 746: 'u151',
 747: 'u152',
 759: 'u153',
 761: 'u154',
 764: 'u155',
 771: 'u156',
 776: 'u157',
 777: 'u158',
 780: 'u159',
 787: 'u160',
 791: 'u161',
 797: 'u162',
 801: 'u163',
 805: 'u164',
 806: 'u165',
 807: 'u166',
 808: 'u167',
 813: 'u168',
 817: 'u169',
 822: 'u170',
 824: 'u171',
 827: 'u172',
 829: 'u173',
 831: 'u174',
 832: 'u175',
 835: 'u176',
 838: 'u177',
 841: 'u178',
 848: 'u179',
 851: 'u180',
 854: 'u181',
 856: 'u182',
 861: 'u183',
 874: 'u184',
 884: 'u185',
 885: 'u186',
 888: 'u187',
 896: 'u188',
 897: 'u189',
 899: 'u190',
 904: 'u191',
 906: 'u192',
 914: 'u193',
 918: 'u194',
 923: 'u195',
 928: 'u196',
 929: 'u197',
 938: 'u198',
 946: 'u199',
 949: 'u200',
 956: 'u201',
 959: 'u202',
 973: 'u203',
 976: 'u204',
 980: 'u205',
 983: 'u206',
 986: 'u207',
 990: 'u208',
 991: 'u209',
 1006: 'u210',
 1008: 'u211',
 1010: 'u212',
 1019: 'u213',
 1021: 'u214',
 1030: 'u215',
 1032: 'u216',
 1036: 'u217',
 1038: 'u218',
 1052: 'u219',
 1057: 'u220',
 1059: 'u221',
 1060: 'u222',
 1062: 'u223',
 1064: 'u224',
 1069: 'u225',
 1071: 'u226',
 1080: 'u227',
 1081: 'u228',
 1085: 'u229',
 1088: 'u230',
 1090: 'u231',
 1096: 'u232',
 1097: 'u233',
 1098: 'u234',
 1104: 'u235',
 1110: 'u236',
 1111: 'u237',
 1117: 'u238',
 1121: 'u239',
 1122: 'u240',
 1123: 'u241',
 1136: 'u242',
 1140: 'u243',
 1154: 'u244',
 1159: 'u245',
 1166: 'u246',
 1178: 'u247',
 1180: 'u248',
 1181: 'u249',
 1188: 'u250',
 1191: 'u251',
 1196: 'u252',
 1201: 'u253',
 1206: 'u254',
 1207: 'u255',
 1212: 'u256',
 1223: 'u257',
 1224: 'u258',
 1228: 'u259',
 1231: 'u260',
 1234: 'u261',
 1236: 'u262',
 1238: 'u263',
 1250: 'u264',
 1258: 'u265',
 1261: 'u266',
 1266: 'u267',
 1267: 'u268',
 1270: 'u269',
 1291: 'u270',
 1295: 'u271',
 1297: 'u272',
 1298: 'u273',
 1304: 'u274',
 1307: 'u275',
 1311: 'u276',
 1312: 'u277',
 1313: 'u278',
 1315: 'u279',
 1317: 'u280',
 1320: 'u281',
 1325: 'u282',
 1328: 'u283',
 1330: 'u284',
 1334: 'u285',
 1338: 'u286',
 1342: 'u287',
 1354: 'u288',
 1361: 'u289',
 1362: 'u290',
 1364: 'u291',
 1366: 'u292',
 1377: 'u293',
 1379: 'u294',
 1380: 'u295',
 1387: 'u296',
 1392: 'u297',
 1395: 'u298',
 1403: 'u299',
 1412: 'u300',
 1415: 'u301',
 1417: 'u302',
 1419: 'u303',
 1420: 'u304',
 1423: 'u305',
 1425: 'u306',
 1428: 'u307',
 1438: 'u308',
 1441: 'u309',
 1448: 'u310',
 1459: 'u311',
 1476: 'u312',
 1482: 'u313',
 1487: 'u314',
 1490: 'u315',
 1495: 'u316',
 1496: 'u317',
 1497: 'u318',
 1506: 'u319',
 1515: 'u320',
 1520: 'u321',
 1526: 'u322',
 1528: 'u323',
 1529: 'u324',
 1532: 'u325',
 1533: 'u326',
 1534: 'u327',
 1535: 'u328',
 1545: 'u329',
 1546: 'u330',
 1558: 'u331',
 1562: 'u332',
 1564: 'u333',
 1567: 'u334',
 1572: 'u335',
 1575: 'u336',
 1576: 'u337',
 1588: 'u338',
 1589: 'u339',
 1590: 'u340',
 1593: 'u341',
 1596: 'u342',
 1604: 'u343',
 1607: 'u344',
 1608: 'u345',
 1617: 'u346',
 1618: 'u347',
 1627: 'u348',
 1630: 'u349',
 1634: 'u350',
 1636: 'u351',
 1638: 'u352',
 1641: 'u353',
 1644: 'u354',
 1669: 'u355',
 1671: 'u356',
 1673: 'u357',
 1675: 'u358',
 1678: 'u359',
 1681: 'u360',
 1683: 'u361',
 1691: 'u362',
 1704: 'u363',
 1706: 'u364',
 1708: 'u365',
 1710: 'u366',
 1711: 'u367',
 1712: 'u368',
 1722: 'u369',
 1725: 'u370',
 1726: 'u371',
 1727: 'u372',
 1730: 'u373',
 1734: 'u374',
 1739: 'u375',
 1741: 'u376',
 1742: 'u377',
 1753: 'u378',
 1766: 'u379',
 1768: 'u380',
 1772: 'u381',
 1773: 'u382',
 1778: 'u383',
 1779: 'u384',
 1781: 'u385',
 1785: 'u386',
 1788: 'u387',
 1791: 'u388',
 1794: 'u389',
 1795: 'u390',
 1800: 'u391',
 1807: 'u392',
 1810: 'u393',
 1823: 'u394',
 1840: 'u395',
 1847: 'u396',
 1852: 'u397',
 1854: 'u398',
 1859: 'u399',
 1870: 'u400',
 1884: 'u401',
 1887: 'u402',
 1888: 'u403',
 1889: 'u404',
 1893: 'u405',
 1894: 'u406',
 1896: 'u407',
 1897: 'u408',
 1903: 'u409',
 1904: 'u410',
 1911: 'u411',
 1917: 'u412',
 1918: 'u413',
 1930: 'u414',
 1933: 'u415',
 1934: 'u416',
 1952: 'u417',
 1955: 'u418',
 1958: 'u419',
 1961: 'u420',
 1963: 'u421',
 1971: 'u422',
 1993: 'u423',
 1996: 'u424',
 1997: 'u425'}

In [151]:
# 5.4 Use 'replace' method to replace values in column 'User':

df_sample['User'] = df_sample['User'].replace(map_dict, inplace= False)

In [152]:
# 5.5 Check:
df_sample.head()

  User  Year  Amount        Merchant Name  Merchant City   MCC Is Fraud?
0   u0  2002  134.09  3527213246127876953       La Verne  5300        No
1   u0  2002   38.48  -727612092139916043  Monterey Park  5411        No
2   u0  2002  120.34  -727612092139916043  Monterey Park  5411        No
3   u0  2002  128.95  3414527459579106770  Monterey Park  5651        No
4   u0  2002  104.71  5817218446178736267       La Verne  5912        No

### Change merchant IDs
Same steps for changing long merchantIds with short IDs. We prefix these Ids with 'm'

In [159]:
# 6.0 Unique merchant ids
mn = df_sample['Merchant Name'].unique()

In [160]:
# 6.1 Sort them in place
mn.sort()

In [161]:
# 6.2 Prepare a dataframe of existing and alternate names:
dx = pd.DataFrame(mn, columns = ["mt"]).reset_index().rename(columns = {'index' : 'alt_name' })
dx['alt_name'] = dx['alt_name'].apply(str)
dx['a'] = "m"
dx['alt_name'] = dx['a'].str.cat(dx['alt_name']) 
_=dx.pop('a')
dx.head()

  alt_name     mt
0       m0     m0
1       m1     m1
2       m2    m10
3       m3   m100
4       m4  m1000

In [162]:
# 6.3 Create a dictionary for transformation:
# https://stackoverflow.com/a/20250947/3282777
map_dict = dict(zip(dx['mt'], dx['alt_name']))
map_dict

{'m0': 'm0',
 'm1': 'm1',
 'm10': 'm2',
 'm100': 'm3',
 'm1000': 'm4',
 'm10000': 'm5',
 'm10001': 'm6',
 'm10002': 'm7',
 'm10003': 'm8',
 'm10004': 'm9',
 'm10005': 'm10',
 'm10006': 'm11',
 'm10007': 'm12',
 'm10008': 'm13',
 'm10009': 'm14',
 'm1001': 'm15',
 'm10010': 'm16',
 'm10011': 'm17',
 'm10012': 'm18',
 'm10013': 'm19',
 'm10014': 'm20',
 'm10015': 'm21',
 'm10016': 'm22',
 'm10017': 'm23',
 'm10018': 'm24',
 'm10019': 'm25',
 'm1002': 'm26',
 'm10020': 'm27',
 'm10021': 'm28',
 'm10022': 'm29',
 'm10023': 'm30',
 'm10024': 'm31',
 'm10025': 'm32',
 'm10026': 'm33',
 'm10027': 'm34',
 'm10028': 'm35',
 'm10029': 'm36',
 'm1003': 'm37',
 'm10030': 'm38',
 'm10031': 'm39',
 'm10032': 'm40',
 'm10033': 'm41',
 'm10034': 'm42',
 'm10035': 'm43',
 'm10036': 'm44',
 'm10037': 'm45',
 'm10038': 'm46',
 'm10039': 'm47',
 'm1004': 'm48',
 'm10040': 'm49',
 'm10041': 'm50',
 'm10042': 'm51',
 'm10043': 'm52',
 'm10044': 'm53',
 'm10045': 'm54',
 'm10046': 'm55',
 'm10047': 'm56',
 'm10048': 'm57',
 'm10049': 'm58',
 'm1005': 'm59',
 'm10050': 'm60',
 'm10051': 'm61',
 'm10052': 'm62',
 'm10053': 'm63',
 'm10054': 'm64',
 'm10055': 'm65',
 'm10056': 'm66',
 'm10057': 'm67',
 'm10058': 'm68',
 'm10059': 'm69',
 'm1006': 'm70',
 'm10060': 'm71',
 'm10061': 'm72',
 'm10062': 'm73',
 'm10063': 'm74',
 'm10064': 'm75',
 'm10065': 'm76',
 'm10066': 'm77',
 'm10067': 'm78',
 'm10068': 'm79',
 'm10069': 'm80',
 'm1007': 'm81',
 'm10070': 'm82',
 'm10071': 'm83',
 'm10072': 'm84',
 'm10073': 'm85',
 'm10074': 'm86',
 'm10075': 'm87',
 'm10076': 'm88',
 'm10077': 'm89',
 'm10078': 'm90',
 'm10079': 'm91',
 'm1008': 'm92',
 'm10080': 'm93',
 'm10081': 'm94',
 'm10082': 'm95',
 'm10083': 'm96',
 'm10084': 'm97',
 'm10085': 'm98',
 'm10086': 'm99',
 'm10087': 'm100',
 'm10088': 'm101',
 'm10089': 'm102',
 'm1009': 'm103',
 'm10090': 'm104',
 'm10091': 'm105',
 'm10092': 'm106',
 'm10093': 'm107',
 'm10094': 'm108',
 'm10095': 'm109',
 'm10096': 'm110',
 'm10097': 'm111',
 'm10098': 'm112',
 'm10099': 'm113',
 'm101': 'm114',
 'm1010': 'm115',
 'm10100': 'm116',
 'm10101': 'm117',
 'm10102': 'm118',
 'm10103': 'm119',
 'm10104': 'm120',
 'm10105': 'm121',
 'm10106': 'm122',
 'm10107': 'm123',
 'm10108': 'm124',
 'm10109': 'm125',
 'm1011': 'm126',
 'm10110': 'm127',
 'm10111': 'm128',
 'm10112': 'm129',
 'm10113': 'm130',
 'm10114': 'm131',
 'm10115': 'm132',
 'm10116': 'm133',
 'm10117': 'm134',
 'm10118': 'm135',
 'm10119': 'm136',
 'm1012': 'm137',
 'm10120': 'm138',
 'm10121': 'm139',
 'm10122': 'm140',
 'm10123': 'm141',
 'm10124': 'm142',
 'm10125': 'm143',
 'm10126': 'm144',
 'm10127': 'm145',
 'm10128': 'm146',
 'm10129': 'm147',
 'm1013': 'm148',
 'm10130': 'm149',
 'm10131': 'm150',
 'm10132': 'm151',
 'm10133': 'm152',
 'm10134': 'm153',
 'm10135': 'm154',
 'm10136': 'm155',
 'm10137': 'm156',
 'm10138': 'm157',
 'm10139': 'm158',
 'm1014': 'm159',
 'm10140': 'm160',
 'm10141': 'm161',
 'm10142': 'm162',
 'm10143': 'm163',
 'm10144': 'm164',
 'm10145': 'm165',
 'm10146': 'm166',
 'm10147': 'm167',
 'm10148': 'm168',
 'm10149': 'm169',
 'm1015': 'm170',
 'm10150': 'm171',
 'm10151': 'm172',
 'm10152': 'm173',
 'm10153': 'm174',
 'm10154': 'm175',
 'm10155': 'm176',
 'm10156': 'm177',
 'm10157': 'm178',
 'm10158': 'm179',
 'm10159': 'm180',
 'm1016': 'm181',
 'm10160': 'm182',
 'm10161': 'm183',
 'm10162': 'm184',
 'm10163': 'm185',
 'm10164': 'm186',
 'm10165': 'm187',
 'm10166': 'm188',
 'm10167': 'm189',
 'm10168': 'm190',
 'm10169': 'm191',
 'm1017': 'm192',
 'm10170': 'm193',
 'm10171': 'm194',
 'm10172': 'm195',
 'm10173': 'm196',
 'm10174': 'm197',
 'm10175': 'm198',
 'm10176': 'm199',
 'm10177': 'm200',
 'm10178': 'm201',
 'm10179': 'm202',
 'm1018': 'm203',
 'm10180': 'm204',
 'm10181': 'm205',
 'm10182': 'm206',
 'm10183': 'm207',
 'm10184': 'm208',
 'm10185': 'm209',
 'm10186': 'm210',
 'm10187': 'm211',
 'm10188': 'm212',
 'm10189': 'm213',
 'm1019': 'm214',
 'm10190': 'm215',
 'm10191': 'm216',
 'm10192': 'm217',
 'm10193': 'm218',
 'm10194': 'm219',
 'm10195': 'm220',
 'm10196': 'm221',
 'm10197': 'm222',
 'm10198': 'm223',
 'm10199': 'm224',
 'm102': 'm225',
 'm1020': 'm226',
 'm10200': 'm227',
 'm10201': 'm228',
 'm10202': 'm229',
 'm10203': 'm230',
 'm10204': 'm231',
 'm10205': 'm232',
 'm10206': 'm233',
 'm10207': 'm234',
 'm10208': 'm235',
 'm10209': 'm236',
 'm1021': 'm237',
 'm10210': 'm238',
 'm10211': 'm239',
 'm10212': 'm240',
 'm10213': 'm241',
 'm10214': 'm242',
 'm10215': 'm243',
 'm10216': 'm244',
 'm10217': 'm245',
 'm10218': 'm246',
 'm10219': 'm247',
 'm1022': 'm248',
 'm10220': 'm249',
 'm10221': 'm250',
 'm10222': 'm251',
 'm10223': 'm252',
 'm10224': 'm253',
 'm10225': 'm254',
 'm10226': 'm255',
 'm10227': 'm256',
 'm10228': 'm257',
 'm10229': 'm258',
 'm1023': 'm259',
 'm10230': 'm260',
 'm10231': 'm261',
 'm10232': 'm262',
 'm10233': 'm263',
 'm10234': 'm264',
 'm10235': 'm265',
 'm10236': 'm266',
 'm10237': 'm267',
 'm10238': 'm268',
 'm10239': 'm269',
 'm1024': 'm270',
 'm10240': 'm271',
 'm10241': 'm272',
 'm10242': 'm273',
 'm10243': 'm274',
 'm10244': 'm275',
 'm10245': 'm276',
 'm10246': 'm277',
 'm10247': 'm278',
 'm10248': 'm279',
 'm10249': 'm280',
 'm1025': 'm281',
 'm10250': 'm282',
 'm10251': 'm283',
 'm10252': 'm284',
 'm10253': 'm285',
 'm10254': 'm286',
 'm10255': 'm287',
 'm10256': 'm288',
 'm10257': 'm289',
 'm10258': 'm290',
 'm10259': 'm291',
 'm1026': 'm292',
 'm10260': 'm293',
 'm10261': 'm294',
 'm10262': 'm295',
 'm10263': 'm296',
 'm10264': 'm297',
 'm10265': 'm298',
 'm10266': 'm299',
 'm10267': 'm300',
 'm10268': 'm301',
 'm10269': 'm302',
 'm1027': 'm303',
 'm10270': 'm304',
 'm10271': 'm305',
 'm10272': 'm306',
 'm10273': 'm307',
 'm10274': 'm308',
 'm10275': 'm309',
 'm10276': 'm310',
 'm10277': 'm311',
 'm10278': 'm312',
 'm10279': 'm313',
 'm1028': 'm314',
 'm10280': 'm315',
 'm10281': 'm316',
 'm10282': 'm317',
 'm10283': 'm318',
 'm10284': 'm319',
 'm10285': 'm320',
 'm10286': 'm321',
 'm10287': 'm322',
 'm10288': 'm323',
 'm10289': 'm324',
 'm1029': 'm325',
 'm10290': 'm326',
 'm10291': 'm327',
 'm10292': 'm328',
 'm10293': 'm329',
 'm10294': 'm330',
 'm10295': 'm331',
 'm10296': 'm332',
 'm10297': 'm333',
 'm10298': 'm334',
 'm10299': 'm335',
 'm103': 'm336',
 'm1030': 'm337',
 'm10300': 'm338',
 'm10301': 'm339',
 'm10302': 'm340',
 'm10303': 'm341',
 'm10304': 'm342',
 'm10305': 'm343',
 'm10306': 'm344',
 'm10307': 'm345',
 'm10308': 'm346',
 'm10309': 'm347',
 'm1031': 'm348',
 'm10310': 'm349',
 'm10311': 'm350',
 'm10312': 'm351',
 'm10313': 'm352',
 'm10314': 'm353',
 'm10315': 'm354',
 'm10316': 'm355',
 'm10317': 'm356',
 'm10318': 'm357',
 'm10319': 'm358',
 'm1032': 'm359',
 'm10320': 'm360',
 'm10321': 'm361',
 'm10322': 'm362',
 'm10323': 'm363',
 'm10324': 'm364',
 'm10325': 'm365',
 'm10326': 'm366',
 'm10327': 'm367',
 'm10328': 'm368',
 'm10329': 'm369',
 'm1033': 'm370',
 'm10330': 'm371',
 'm10331': 'm372',
 'm10332': 'm373',
 'm10333': 'm374',
 'm10334': 'm375',
 'm10335': 'm376',
 'm10336': 'm377',
 'm10337': 'm378',
 'm10338': 'm379',
 'm10339': 'm380',
 'm1034': 'm381',
 'm10340': 'm382',
 'm10341': 'm383',
 'm10342': 'm384',
 'm10343': 'm385',
 'm10344': 'm386',
 'm10345': 'm387',
 'm10346': 'm388',
 'm10347': 'm389',
 'm10348': 'm390',
 'm10349': 'm391',
 'm1035': 'm392',
 'm10350': 'm393',
 'm10351': 'm394',
 'm10352': 'm395',
 'm10353': 'm396',
 'm10354': 'm397',
 'm10355': 'm398',
 'm10356': 'm399',
 'm10357': 'm400',
 'm10358': 'm401',
 'm10359': 'm402',
 'm1036': 'm403',
 'm10360': 'm404',
 'm10361': 'm405',
 'm10362': 'm406',
 'm10363': 'm407',
 'm10364': 'm408',
 'm10365': 'm409',
 'm10366': 'm410',
 'm10367': 'm411',
 'm10368': 'm412',
 'm10369': 'm413',
 'm1037': 'm414',
 'm10370': 'm415',
 'm10371': 'm416',
 'm10372': 'm417',
 'm10373': 'm418',
 'm10374': 'm419',
 'm10375': 'm420',
 'm10376': 'm421',
 'm10377': 'm422',
 'm10378': 'm423',
 'm10379': 'm424',
 'm1038': 'm425',
 'm10380': 'm426',
 'm10381': 'm427',
 'm10382': 'm428',
 'm10383': 'm429',
 'm10384': 'm430',
 'm10385': 'm431',
 'm10386': 'm432',
 'm10387': 'm433',
 'm10388': 'm434',
 'm10389': 'm435',
 'm1039': 'm436',
 'm10390': 'm437',
 'm10391': 'm438',
 'm10392': 'm439',
 'm10393': 'm440',
 'm10394': 'm441',
 'm10395': 'm442',
 'm10396': 'm443',
 'm10397': 'm444',
 'm10398': 'm445',
 'm10399': 'm446',
 'm104': 'm447',
 'm1040': 'm448',
 'm10400': 'm449',
 'm10401': 'm450',
 'm10402': 'm451',
 'm10403': 'm452',
 'm10404': 'm453',
 'm10405': 'm454',
 'm10406': 'm455',
 'm10407': 'm456',
 'm10408': 'm457',
 'm10409': 'm458',
 'm1041': 'm459',
 'm10410': 'm460',
 'm10411': 'm461',
 'm10412': 'm462',
 'm10413': 'm463',
 'm10414': 'm464',
 'm10415': 'm465',
 'm10416': 'm466',
 'm10417': 'm467',
 'm10418': 'm468',
 'm10419': 'm469',
 'm1042': 'm470',
 'm10420': 'm471',
 'm10421': 'm472',
 'm10422': 'm473',
 'm10423': 'm474',
 'm10424': 'm475',
 'm10425': 'm476',
 'm10426': 'm477',
 'm10427': 'm478',
 'm10428': 'm479',
 'm10429': 'm480',
 'm1043': 'm481',
 'm10430': 'm482',
 'm10431': 'm483',
 'm10432': 'm484',
 'm10433': 'm485',
 'm10434': 'm486',
 'm10435': 'm487',
 'm10436': 'm488',
 'm10437': 'm489',
 'm10438': 'm490',
 'm10439': 'm491',
 'm1044': 'm492',
 'm10440': 'm493',
 'm10441': 'm494',
 'm10442': 'm495',
 'm10443': 'm496',
 'm10444': 'm497',
 'm10445': 'm498',
 'm10446': 'm499',
 'm10447': 'm500',
 'm10448': 'm501',
 'm10449': 'm502',
 'm1045': 'm503',
 'm10450': 'm504',
 'm10451': 'm505',
 'm10452': 'm506',
 'm10453': 'm507',
 'm10454': 'm508',
 'm10455': 'm509',
 'm10456': 'm510',
 'm10457': 'm511',
 'm10458': 'm512',
 'm10459': 'm513',
 'm1046': 'm514',
 'm10460': 'm515',
 'm10461': 'm516',
 'm10462': 'm517',
 'm10463': 'm518',
 'm10464': 'm519',
 'm10465': 'm520',
 'm10466': 'm521',
 'm10467': 'm522',
 'm10468': 'm523',
 'm10469': 'm524',
 'm1047': 'm525',
 'm10470': 'm526',
 'm10471': 'm527',
 'm10472': 'm528',
 'm10473': 'm529',
 'm10474': 'm530',
 'm10475': 'm531',
 'm10476': 'm532',
 'm10477': 'm533',
 'm10478': 'm534',
 'm10479': 'm535',
 'm1048': 'm536',
 'm10480': 'm537',
 'm10481': 'm538',
 'm10482': 'm539',
 'm10483': 'm540',
 'm10484': 'm541',
 'm10485': 'm542',
 'm10486': 'm543',
 'm10487': 'm544',
 'm10488': 'm545',
 'm10489': 'm546',
 'm1049': 'm547',
 'm10490': 'm548',
 'm10491': 'm549',
 'm10492': 'm550',
 'm10493': 'm551',
 'm10494': 'm552',
 'm10495': 'm553',
 'm10496': 'm554',
 'm10497': 'm555',
 'm10498': 'm556',
 'm10499': 'm557',
 'm105': 'm558',
 'm1050': 'm559',
 'm10500': 'm560',
 'm10501': 'm561',
 'm10502': 'm562',
 'm10503': 'm563',
 'm10504': 'm564',
 'm10505': 'm565',
 'm10506': 'm566',
 'm10507': 'm567',
 'm10508': 'm568',
 'm10509': 'm569',
 'm1051': 'm570',
 'm10510': 'm571',
 'm10511': 'm572',
 'm10512': 'm573',
 'm10513': 'm574',
 'm10514': 'm575',
 'm10515': 'm576',
 'm10516': 'm577',
 'm10517': 'm578',
 'm10518': 'm579',
 'm10519': 'm580',
 'm1052': 'm581',
 'm10520': 'm582',
 'm10521': 'm583',
 'm10522': 'm584',
 'm10523': 'm585',
 'm10524': 'm586',
 'm10525': 'm587',
 'm10526': 'm588',
 'm10527': 'm589',
 'm10528': 'm590',
 'm10529': 'm591',
 'm1053': 'm592',
 'm10530': 'm593',
 'm10531': 'm594',
 'm10532': 'm595',
 'm10533': 'm596',
 'm10534': 'm597',
 'm10535': 'm598',
 'm10536': 'm599',
 'm10537': 'm600',
 'm10538': 'm601',
 'm10539': 'm602',
 'm1054': 'm603',
 'm10540': 'm604',
 'm10541': 'm605',
 'm10542': 'm606',
 'm10543': 'm607',
 'm10544': 'm608',
 'm10545': 'm609',
 'm10546': 'm610',
 'm10547': 'm611',
 'm10548': 'm612',
 'm10549': 'm613',
 'm1055': 'm614',
 'm10550': 'm615',
 'm10551': 'm616',
 'm10552': 'm617',
 'm10553': 'm618',
 'm10554': 'm619',
 'm10555': 'm620',
 'm10556': 'm621',
 'm10557': 'm622',
 'm10558': 'm623',
 'm10559': 'm624',
 'm1056': 'm625',
 'm10560': 'm626',
 'm10561': 'm627',
 'm10562': 'm628',
 'm10563': 'm629',
 'm10564': 'm630',
 'm10565': 'm631',
 'm10566': 'm632',
 'm10567': 'm633',
 'm10568': 'm634',
 'm10569': 'm635',
 'm1057': 'm636',
 'm10570': 'm637',
 'm10571': 'm638',
 'm10572': 'm639',
 'm10573': 'm640',
 'm10574': 'm641',
 'm10575': 'm642',
 'm10576': 'm643',
 'm10577': 'm644',
 'm10578': 'm645',
 'm10579': 'm646',
 'm1058': 'm647',
 'm10580': 'm648',
 'm10581': 'm649',
 'm10582': 'm650',
 'm10583': 'm651',
 'm10584': 'm652',
 'm10585': 'm653',
 'm10586': 'm654',
 'm10587': 'm655',
 'm10588': 'm656',
 'm10589': 'm657',
 'm1059': 'm658',
 'm10590': 'm659',
 'm10591': 'm660',
 'm10592': 'm661',
 'm10593': 'm662',
 'm10594': 'm663',
 'm10595': 'm664',
 'm10596': 'm665',
 'm10597': 'm666',
 'm10598': 'm667',
 'm10599': 'm668',
 'm106': 'm669',
 'm1060': 'm670',
 'm10600': 'm671',
 'm10601': 'm672',
 'm10602': 'm673',
 'm10603': 'm674',
 'm10604': 'm675',
 'm10605': 'm676',
 'm10606': 'm677',
 'm10607': 'm678',
 'm10608': 'm679',
 'm10609': 'm680',
 'm1061': 'm681',
 'm10610': 'm682',
 'm10611': 'm683',
 'm10612': 'm684',
 'm10613': 'm685',
 'm10614': 'm686',
 'm10615': 'm687',
 'm10616': 'm688',
 'm10617': 'm689',
 'm10618': 'm690',
 'm10619': 'm691',
 'm1062': 'm692',
 'm10620': 'm693',
 'm10621': 'm694',
 'm10622': 'm695',
 'm10623': 'm696',
 'm10624': 'm697',
 'm10625': 'm698',
 'm10626': 'm699',
 'm10627': 'm700',
 'm10628': 'm701',
 'm10629': 'm702',
 'm1063': 'm703',
 'm10630': 'm704',
 'm10631': 'm705',
 'm10632': 'm706',
 'm10633': 'm707',
 'm10634': 'm708',
 'm10635': 'm709',
 'm10636': 'm710',
 'm10637': 'm711',
 'm10638': 'm712',
 'm10639': 'm713',
 'm1064': 'm714',
 'm10640': 'm715',
 'm10641': 'm716',
 'm10642': 'm717',
 'm10643': 'm718',
 'm10644': 'm719',
 'm10645': 'm720',
 'm10646': 'm721',
 'm10647': 'm722',
 'm10648': 'm723',
 'm10649': 'm724',
 'm1065': 'm725',
 'm10650': 'm726',
 'm10651': 'm727',
 'm10652': 'm728',
 'm10653': 'm729',
 'm10654': 'm730',
 'm10655': 'm731',
 'm10656': 'm732',
 'm10657': 'm733',
 'm10658': 'm734',
 'm10659': 'm735',
 'm1066': 'm736',
 'm10660': 'm737',
 'm10661': 'm738',
 'm10662': 'm739',
 'm10663': 'm740',
 'm10664': 'm741',
 'm10665': 'm742',
 'm10666': 'm743',
 'm10667': 'm744',
 'm10668': 'm745',
 'm10669': 'm746',
 'm1067': 'm747',
 'm10670': 'm748',
 'm10671': 'm749',
 'm10672': 'm750',
 'm10673': 'm751',
 'm10674': 'm752',
 'm10675': 'm753',
 'm10676': 'm754',
 'm10677': 'm755',
 'm10678': 'm756',
 'm10679': 'm757',
 'm1068': 'm758',
 'm10680': 'm759',
 'm10681': 'm760',
 'm10682': 'm761',
 'm10683': 'm762',
 'm10684': 'm763',
 'm10685': 'm764',
 'm10686': 'm765',
 'm10687': 'm766',
 'm10688': 'm767',
 'm10689': 'm768',
 'm1069': 'm769',
 'm10690': 'm770',
 'm10691': 'm771',
 'm10692': 'm772',
 'm10693': 'm773',
 'm10694': 'm774',
 'm10695': 'm775',
 'm10696': 'm776',
 'm10697': 'm777',
 'm10698': 'm778',
 'm10699': 'm779',
 'm107': 'm780',
 'm1070': 'm781',
 'm10700': 'm782',
 'm10701': 'm783',
 'm10702': 'm784',
 'm10703': 'm785',
 'm10704': 'm786',
 'm10705': 'm787',
 'm10706': 'm788',
 'm10707': 'm789',
 'm10708': 'm790',
 'm10709': 'm791',
 'm1071': 'm792',
 'm10710': 'm793',
 'm10711': 'm794',
 'm10712': 'm795',
 'm10713': 'm796',
 'm10714': 'm797',
 'm10715': 'm798',
 'm10716': 'm799',
 'm10717': 'm800',
 'm10718': 'm801',
 'm10719': 'm802',
 'm1072': 'm803',
 'm10720': 'm804',
 'm10721': 'm805',
 'm10722': 'm806',
 'm10723': 'm807',
 'm10724': 'm808',
 'm10725': 'm809',
 'm10726': 'm810',
 'm10727': 'm811',
 'm10728': 'm812',
 'm10729': 'm813',
 'm1073': 'm814',
 'm10730': 'm815',
 'm10731': 'm816',
 'm10732': 'm817',
 'm10733': 'm818',
 'm10734': 'm819',
 'm10735': 'm820',
 'm10736': 'm821',
 'm10737': 'm822',
 'm10738': 'm823',
 'm10739': 'm824',
 'm1074': 'm825',
 'm10740': 'm826',
 'm10741': 'm827',
 'm10742': 'm828',
 'm10743': 'm829',
 'm10744': 'm830',
 'm10745': 'm831',
 'm10746': 'm832',
 'm10747': 'm833',
 'm10748': 'm834',
 'm10749': 'm835',
 'm1075': 'm836',
 'm10750': 'm837',
 'm10751': 'm838',
 'm10752': 'm839',
 'm10753': 'm840',
 'm10754': 'm841',
 'm10755': 'm842',
 'm10756': 'm843',
 'm10757': 'm844',
 'm10758': 'm845',
 'm10759': 'm846',
 'm1076': 'm847',
 'm10760': 'm848',
 'm10761': 'm849',
 'm10762': 'm850',
 'm10763': 'm851',
 'm10764': 'm852',
 'm10765': 'm853',
 'm10766': 'm854',
 'm10767': 'm855',
 'm10768': 'm856',
 'm10769': 'm857',
 'm1077': 'm858',
 'm10770': 'm859',
 'm10771': 'm860',
 'm10772': 'm861',
 'm10773': 'm862',
 'm10774': 'm863',
 'm10775': 'm864',
 'm10776': 'm865',
 'm10777': 'm866',
 'm10778': 'm867',
 'm10779': 'm868',
 'm1078': 'm869',
 'm10780': 'm870',
 'm10781': 'm871',
 'm10782': 'm872',
 'm10783': 'm873',
 'm10784': 'm874',
 'm10785': 'm875',
 'm10786': 'm876',
 'm10787': 'm877',
 'm10788': 'm878',
 'm10789': 'm879',
 'm1079': 'm880',
 'm10790': 'm881',
 'm10791': 'm882',
 'm10792': 'm883',
 'm10793': 'm884',
 'm10794': 'm885',
 'm10795': 'm886',
 'm10796': 'm887',
 'm10797': 'm888',
 'm10798': 'm889',
 'm10799': 'm890',
 'm108': 'm891',
 'm1080': 'm892',
 'm10800': 'm893',
 'm10801': 'm894',
 'm10802': 'm895',
 'm10803': 'm896',
 'm10804': 'm897',
 'm10805': 'm898',
 'm10806': 'm899',
 'm10807': 'm900',
 'm10808': 'm901',
 'm10809': 'm902',
 'm1081': 'm903',
 'm10810': 'm904',
 'm10811': 'm905',
 'm10812': 'm906',
 'm10813': 'm907',
 'm10814': 'm908',
 'm10815': 'm909',
 'm10816': 'm910',
 'm10817': 'm911',
 'm10818': 'm912',
 'm10819': 'm913',
 'm1082': 'm914',
 'm10820': 'm915',
 'm10821': 'm916',
 'm10822': 'm917',
 'm10823': 'm918',
 'm10824': 'm919',
 'm10825': 'm920',
 'm10826': 'm921',
 'm10827': 'm922',
 'm10828': 'm923',
 'm10829': 'm924',
 'm1083': 'm925',
 'm10830': 'm926',
 'm10831': 'm927',
 'm10832': 'm928',
 'm10833': 'm929',
 'm10834': 'm930',
 'm10835': 'm931',
 'm10836': 'm932',
 'm10837': 'm933',
 'm10838': 'm934',
 'm10839': 'm935',
 'm1084': 'm936',
 'm10840': 'm937',
 'm10841': 'm938',
 'm10842': 'm939',
 'm10843': 'm940',
 'm10844': 'm941',
 'm10845': 'm942',
 'm10846': 'm943',
 'm10847': 'm944',
 'm10848': 'm945',
 'm10849': 'm946',
 'm1085': 'm947',
 'm10850': 'm948',
 'm10851': 'm949',
 'm10852': 'm950',
 'm1086': 'm951',
 'm1087': 'm952',
 'm1088': 'm953',
 'm1089': 'm954',
 'm109': 'm955',
 'm1090': 'm956',
 'm1091': 'm957',
 'm1092': 'm958',
 'm1093': 'm959',
 'm1094': 'm960',
 'm1095': 'm961',
 'm1096': 'm962',
 'm1097': 'm963',
 'm1098': 'm964',
 'm1099': 'm965',
 'm11': 'm966',
 'm110': 'm967',
 'm1100': 'm968',
 'm1101': 'm969',
 'm1102': 'm970',
 'm1103': 'm971',
 'm1104': 'm972',
 'm1105': 'm973',
 'm1106': 'm974',
 'm1107': 'm975',
 'm1108': 'm976',
 'm1109': 'm977',
 'm111': 'm978',
 'm1110': 'm979',
 'm1111': 'm980',
 'm1112': 'm981',
 'm1113': 'm982',
 'm1114': 'm983',
 'm1115': 'm984',
 'm1116': 'm985',
 'm1117': 'm986',
 'm1118': 'm987',
 'm1119': 'm988',
 'm112': 'm989',
 'm1120': 'm990',
 'm1121': 'm991',
 'm1122': 'm992',
 'm1123': 'm993',
 'm1124': 'm994',
 'm1125': 'm995',
 'm1126': 'm996',
 'm1127': 'm997',
 'm1128': 'm998',
 'm1129': 'm999',
 ...}

In [163]:
# 6.4 Transform values in 'Merchant Name' using map_dict:
#     Takes time 4 minutes
%%time
df_sample['Merchant Name'] = df_sample['Merchant Name'].replace(map_dict, inplace= False)

CPU times: user 1min 48s, sys: 32.8 s, total: 2min 21s
Wall time: 2min 20s

In [164]:
# 6.5 And check
df_sample.head()

  User  Year  Amount Merchant Name  Merchant City   MCC Is Fraud?
0   u0  2002  134.09         m8039       La Verne  5300        No
1   u0  2002   38.48         m5296  Monterey Park  5411        No
2   u0  2002  120.34         m5296  Monterey Park  5411        No
3   u0  2002  128.95         m7958  Monterey Park  5651        No
4   u0  2002  104.71         m9559       La Verne  5912        No

### User Nodes

#### Fields

>This node must have two <i>must</i> fields: Id and Label. Besides these two, to distinguish Users from Merchants, we also have a 'Cat' field. The 'Cat' field has two values: *Member* for Users and *Institution* for Merchants.  

> Besides, these three common field names, other fields may also be there and may carry any names.


> If a user has committed fraud, even once, we mark him with propensity to commit frauds. A column 'suspect' is added to records this propensity.

In [181]:
## 7.0 Group by user to get user node charteristics:
# StackOverflow:  https://stackoverflow.com/a/68726106/3282777
grpd_user = df_sample.groupby(['User'])
user_nodes = grpd_user.agg({'Amount' : [('u_min','min'),('u_max','max'),('u_mean','mean'),('u_std',np.std)] }).reset_index()
user_nodes = user_nodes.round(decimals = 2)
user_nodes.head()

   User Amount
         u_min    u_max  u_mean   u_std
0    u0 -255.0  1049.82   84.78   90.16
1    u1 -498.0   498.00   41.82   54.28
2   u10 -492.0  1067.21   44.98   89.07
3  u100 -289.0   766.36  100.45  122.21
4  u101 -302.0   302.00   40.78   47.84

In [166]:
# 7.1 Which of the users have committed fraud
users_suspect = df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'User' ].unique()
len(users_suspect)  # 25

25

In [167]:
# 7.2 Add a column 'suspect' with default value of 'No'
user_nodes['suspect'] = "No" 

# 7.3 To distinguish user nodes from merchant nodes on the graph
#     we add a 'Cat' column.

user_nodes['Cat'] = 'Member'

In [168]:
# 7.4 Even if a user committed fraud once, we set value
#     in 'suspect' as 'Yes' for every transaction:

for i in users_suspect:
  user_nodes.loc[user_nodes['User'] == i, 'suspect' ] = "Yes"

In [169]:
# 7.5 So how many of them?

user_nodes['suspect'].value_counts()  # No: 401, 'Yes: 25
user_nodes.head()

No     401
Yes     25
Name: suspect, dtype: int64

   User Amount                          suspect     Cat
          umin     umax   umean    ustd
0    u0 -255.0  1049.82   84.78   90.16      No  Member
1    u1 -498.0   498.00   41.82   54.28      No  Member
2   u10 -492.0  1067.21   44.98   89.07      No  Member
3  u100 -289.0   766.36  100.45  122.21      No  Member
4  u101 -302.0   302.00   40.78   47.84      No  Member

In [170]:
# 7.6 Create a 'Label' column
#     that simply records userids.
#     Or, rather a copy of 'User' feature
#     'Label' column is a MUST in a graph:

user_nodes['Label'] = user_nodes['User']

# 7.7 Also a graph should have an 'Id' column
#     We rename 'User' field as 'Id'

user_nodes = user_nodes.rename(columns = {'User': "Id"})

In [171]:
# 7.8 our user nodes data:
user_nodes.head()

     Id Amount                          suspect     Cat Label
          umin     umax   umean    ustd
0    u0 -255.0  1049.82   84.78   90.16      No  Member    u0
1    u1 -498.0   498.00   41.82   54.28      No  Member    u1
2   u10 -492.0  1067.21   44.98   89.07      No  Member   u10
3  u100 -289.0   766.36  100.45  122.21      No  Member  u100
4  u101 -302.0   302.00   40.78   47.84      No  Member  u101

In [172]:
# 7.9 We also create a column 'suspect_n' that records
#     1 for 'Yes' fraud and 0 for 'No' fraud
#     It is simply a numeric transformation of 'suspect' field:
#     We do this as data manipulation capabilities within gephi
#     are limited:

user_nodes['suspect_n'] = user_nodes['suspect']
user_nodes['suspect_n'] = user_nodes['suspect_n'].map({"Yes":1 , "No" : 0})

In [173]:
# 7.11
user_nodes.head()

     Id Amount                          suspect     Cat Label suspect_n
          umin     umax   umean    ustd
0    u0 -255.0  1049.82   84.78   90.16      No  Member    u0         0
1    u1 -498.0   498.00   41.82   54.28      No  Member    u1         0
2   u10 -492.0  1067.21   44.98   89.07      No  Member   u10         0
3  u100 -289.0   766.36  100.45  122.21      No  Member  u100         0
4  u101 -302.0   302.00   40.78   47.84      No  Member  u101         0

In [174]:
# 7.12 Save usernodes to gdrive with semicolon separator:
#     Header is stored as:
#       Id;Amount;Amount;Amount;Amount;suspect;Cat;Label;suspect_n
#       ;u_min;u_max;u_mean;u_std;;;;
#     Change this manually to:
#       Id;u_min;u_max;u_mean;u_std;suspect;Cat;Label;suspect_n

user_nodes.to_csv("creditCard_users.csv",
                  index = False,
                  sep = ";"
                  )

### Merchant nodes

In [175]:
df_sample.head()

  User  Year  Amount Merchant Name  Merchant City   MCC Is Fraud?
0   u0  2002  134.09         m8039       La Verne  5300        No
1   u0  2002   38.48         m5296  Monterey Park  5411        No
2   u0  2002  120.34         m5296  Monterey Park  5411        No
3   u0  2002  128.95         m7958  Monterey Park  5651        No
4   u0  2002  104.71         m9559       La Verne  5912        No

In [180]:
## 8.0 Group by merchant and get merchant charteristics:
grpd_merchant = df_sample.groupby(['Merchant Name'])
merchant_nodes = grpd_merchant.agg({'Amount' : [('m_min','min'),('m_max','max'),('m_mean','mean'),('m_std', 'std')]}).reset_index()
merchant_nodes = merchant_nodes.round(2)
merchant_nodes.head()
merchant_nodes.shape   # (10853, 2)

  Merchant Name Amount
                 m_min   m_max  m_mean  m_std
0            m0  58.53  150.28  104.40  64.88
1            m1  18.14   18.14   18.14    NaN
2           m10   9.08   18.51   15.41   3.00
3          m100  15.35  189.07   60.37  54.81
4         m1000   7.24   52.46   40.45  15.28

(10853, 5)

In [182]:
## 8.01 Group by merchant and merchant city:
grpd_merchant1 = df_sample.groupby(['Merchant Name','Merchant City'])
merchant_nodes1 = grpd_merchant1['Amount'].mean().reset_index()
merchant_nodes1 = merchant_nodes1.round(2)
merchant_nodes1.head()
merchant_nodes1.shape    # (25984, 3). It appears a Merchant operates in more than one City

  Merchant Name Merchant City  Amount
0            m0     Beaverton  104.40
1            m1      Stanwood   18.14
2           m10         Burke   15.41
3          m100   Sioux Falls   60.37
4         m1000      Sarasota   40.45

(25984, 3)

In [183]:
## 8.01 Group by merchant and MCC:
grpd_merchant2 = df_sample.groupby(['Merchant Name','MCC'])
merchant_nodes2 = grpd_merchant2['Amount'].mean().reset_index()
merchant_nodes2 = merchant_nodes2.round(2)
merchant_nodes2.head()
merchant_nodes2.shape    # (10875, 3). It appears a Merchant has more than one line of business
                         #  or two merchants have the same name.

  Merchant Name   MCC  Amount
0            m0  8021  104.40
1            m1  5310   18.14
2           m10  7542   15.41
3          m100  4900   60.37
4         m1000  7230   40.45

(10875, 3)

In [184]:
# 8.1 With which one of the merchants fraud comitted:
df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'Merchant Name' ].unique()
merchant_suspect = df_sample.loc[df_sample["Is Fraud?"] == "Yes", 'Merchant Name' ].unique()
len(merchant_suspect)

array(['m9718', 'm2236', 'm8711', 'm2235', 'm8327', 'm9979', 'm5395',
       'm6992', 'm4701', 'm6318', 'm9898', 'm8788', 'm10126', 'm987',
       'm3368', 'm5785', 'm3919', 'm5401', 'm3940', 'm1156', 'm838',
       'm7352', 'm2160', 'm5614', 'm1806', 'm2371', 'm8853', 'm5908',
       'm10688', 'm761', 'm8108', 'm207', 'm8906', 'm10194', 'm9726',
       'm4154', 'm4896', 'm1379', 'm4559', 'm2227', 'm3600', 'm2694',
       'm7137', 'm9854', 'm2025', 'm5423', 'm4448', 'm181', 'm10474',
       'm10101', 'm1394', 'm7826', 'm6822', 'm1984', 'm7504', 'm7958',
       'm10109', 'm5981', 'm9794', 'm9158', 'm3711', 'm6083', 'm4958',
       'm6337', 'm5574', 'm7613', 'm5817', 'm9454', 'm556', 'm5272',
       'm9559', 'm2095', 'm1657', 'm4467', 'm3805', 'm2284'], dtype=object)

76

In [185]:
# 8.2 We record this also in 'victim':
merchant_nodes['victim'] = "No" 

# 8.3 Merchant 'Cat' we designate as 'Institution'
merchant_nodes['Cat'] = 'Institution'

In [186]:
# 8.3 Record which all merchants have propensity to become victims:

for i in merchant_suspect:
  merchant_nodes.loc[merchant_nodes['Merchant Name'] == i, 'victim' ] = "Yes"

In [187]:
# 8.4
merchant_nodes['victim'].value_counts()  # 10777, 76

No     10777
Yes       76
Name: victim, dtype: int64

In [188]:
# 8.5 Label and Id columns of Merchant nodes:

merchant_nodes['Label'] = merchant_nodes['Merchant Name']
merchant_nodes = merchant_nodes.rename(columns = {'Merchant Name': "Id"})
merchant_nodes.head()
merchant_nodes.shape

      Id Amount                        victim          Cat  Label
          m_min   m_max  m_mean  m_std
0     m0  58.53  150.28  104.40  64.88     No  Institution     m0
1     m1  18.14   18.14   18.14    NaN     No  Institution     m1
2    m10   9.08   18.51   15.41   3.00     No  Institution    m10
3   m100  15.35  189.07   60.37  54.81     No  Institution   m100
4  m1000   7.24   52.46   40.45  15.28     No  Institution  m1000

(10853, 8)

In [189]:
# 8.5 We have a numeric field victim_n recording the
#     same information as 'victim':

merchant_nodes['victim_n'] = merchant_nodes['victim']
merchant_nodes['victim_n'] = merchant_nodes['victim_n'].map({"Yes":1 , "No" : 0})

In [190]:
# 8.5.1
merchant_nodes.head()
merchant_nodes.shape   # (10853, 6)

      Id Amount                        victim          Cat  Label victim_n
          m_min   m_max  m_mean  m_std
0     m0  58.53  150.28  104.40  64.88     No  Institution     m0        0
1     m1  18.14   18.14   18.14    NaN     No  Institution     m1        0
2    m10   9.08   18.51   15.41   3.00     No  Institution    m10        0
3   m100  15.35  189.07   60.37  54.81     No  Institution   m100        0
4  m1000   7.24   52.46   40.45  15.28     No  Institution  m1000        0

(10853, 9)

In [191]:
# 8.6 Save merchant_nodes information to a file:

merchant_nodes.to_csv("creditCard_merchants.csv",
                      index = False,
                      sep = ";")

### Edges

Edges must have three fields: *Source* , *Target* and *Type*. *Type* field records if an edge is directed or undirected. Besides these three, it may have other fields also.

In [114]:
# 9.0 Group by User and Merchant Name:
#     We also wish to record the number of interactions between
#     customer and merchants. These will be edge weights:

edges = df_sample.groupby([df_sample['User'], df_sample['Merchant Name']]).size()

In [115]:
# 9.1 The size column has a name '0'. We need to rename it:

edges = df_sample[['User', 'Merchant Name']].groupby(['User', 'Merchant Name']).size().reset_index()
edges = edges.rename(columns = { 0 : "weight"})
edges.head()

  User Merchant Name  weight
0   u0        m10039       3
1   u0        m10101       5
2   u0        m10183       1
3   u0        m10800       2
4   u0         m1118       5

In [116]:
# 9.2 Rename two other columns appropriately:

edges = edges.rename(columns = {'User': 'Source', 'Merchant Name': 'Target'})

In [117]:
# 9.3 Our edges are Undirected:

edges['Type']= 'Undirected'
edges.head()

  Source  Target  weight        Type
0     u0  m10039       3  Undirected
1     u0  m10101       5  Undirected
2     u0  m10183       1  Undirected
3     u0  m10800       2  Undirected
4     u0   m1118       5  Undirected

In [118]:
# 9.4 Finally save edges information to a file:

edges.to_csv("creditCard_edges.csv",
             index = False,
             sep = ";"
             )

In [119]:
########### Done ###########