<a href="https://colab.research.google.com/github/harnalashok/hadoop/blob/main/spark_GBTClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A. Full spark install
Installs `pyspark (spark-3.3.2-bin-hadoop3)`

### 1.0 Libraries

In [ ]:
# 1.0 How to set environment variable
import os  
import time

## 2.0 Define some functions

#### ssh_install()

In [ ]:
# 2.0 Function to install ssh client and sshd (Server)
def ssh_install():
  print("\n--1. Download and install ssh server----\n")
  ! sudo apt-get remove openssh-client openssh-server
  ! sudo apt install openssh-client openssh-server
  
  print("\n--2. Restart ssh server----\n")
  ! service ssh restart

#### Java install

In [ ]:
# 3.0 Function to download and install java 8
def install_java():
  ! rm -rf /usr/java

  print("\n--Download and install Java 8----\n")
  !apt-get install -y openjdk-8-jdk-headless -qq > /dev/null        # install openjdk
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"     # set environment variable

  !update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
  !update-alternatives --set javac /usr/lib/jvm/java-8-openjdk-amd64/bin/javac
  
  !mkdir -p /usr/java
  ! ln -s "/usr/lib/jvm/java-8-openjdk-amd64"  "/usr/java"
  ! mv "/usr/java/java-8-openjdk-amd64"  "/usr/java/latest"
  
  !java -version       #check java version
  !javac -version

#### setup ssh passphrase

In [ ]:
# 6.0 Function tp setup ssh passphrase
def set_keys():
  print("\n---22. Generate SSH keys----\n")
  ! cd ~ ; pwd 
  ! cd ~ ; ssh-keygen -t rsa -P '' -f ~/.ssh/id_rsa
  ! cd ~ ; cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
  ! cd ~ ; chmod 0600 ~/.ssh/authorized_keys

#### Set environment

In [ ]:
# 7.0 Function to set up environmental variables
def set_env():
  print("\n---23. Set Environment variables----\n")
  # 'export' command does not work in colab
  # https://stackoverflow.com/a/57240319
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"     #set environment variable
  os.environ["JRE_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64/jre"

#### function to install prerequisites
java and ssh<br>

In [ ]:
# 8.0 Function to call all functions
def install_components():
  print("\n--Install java----\n")
  ssh_install()
  install_java()  
  #set_keys()
  set_env()

## 3.0 Install components
Start downloading, install and configure. Takes around 2 minutes<br>
Your <u>input *'y'* is required </u>at one place while overwriting earlier ssh keys

In [ ]:
# 9.0 Start installation
start = time.time()
install_components()
end = time.time()
print("\n---Time taken----\n")
print((end- start)/60)

--Install java----


--1. Download and install ssh server----

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libboost-atomic-dev libboost-atomic1.71-dev libboost-atomic1.71.0
  libboost-chrono-dev libboost-chrono1.71-dev libboost-chrono1.71.0
  libboost-container-dev libboost-container1.71-dev libboost-container1.71.0
  libboost-context-dev libboost-context1.71-dev libboost-context1.71.0
  libboost-coroutine-dev libboost-coroutine1.71-dev libboost-coroutine1.71.0
  libboost-date-time-dev libboost-date-time1.71-dev libboost-date-time1.71.0
  libboost-exception-dev libboost-exception1.71-dev libboost-fiber-dev
  libboost-fiber1.71-dev libboost-fiber1.71.0 libboost-filesystem-dev
  libboost-filesystem1.71-dev libboost-filesystem1.71.0 libboost-graph-dev
  libboost-graph-parallel-dev libboost-graph-parallel1.71-dev
  libboost-graph-parallel1.71.0 libboost-graph1.71-dev libboost-graph1.71.0
  libboost-iostreams-dev libboost-iostreams1.71-dev libboost-locale-dev
  libboost-locale1.71-dev libboost-locale1.71.0 libboost-log-dev
  libboost-log1.71-dev libboost-log1.71.0 libboost-math-dev
  libboost-math1.71-dev libboost-math1.71.0 libboost-mpi1.71.0
  libboost-numpy-dev libboost-numpy1.71-dev libboost-numpy1.71.0
  libboost-program-options-dev libboost-program-options1.71-dev
  libboost-program-options1.71.0 libboost-python-dev libboost-python1.71-dev
  libboost-python1.71.0 libboost-random-dev libboost-random1.71-dev
  libboost-random1.71.0 libboost-regex-dev libboost-regex1.71-dev
  libboost-regex1.71.0 libboost-serialization-dev
  libboost-serialization1.71-dev libboost-serialization1.71.0
  libboost-stacktrace-dev libboost-stacktrace1.71-dev
  libboost-stacktrace1.71.0 libboost-system-dev libboost-system1.71-dev
  libboost-system1.71.0 libboost-test-dev libboost-test1.71-dev
  libboost-test1.71.0 libboost-thread-dev libboost-thread1.71-dev
  libboost-timer-dev libboost-timer1.71-dev libboost-timer1.71.0
  libboost-tools-dev libboost-type-erasure-dev libboost-type-erasure1.71-dev
  libboost-type-erasure1.71.0 libboost-wave-dev libboost-wave1.71-dev
  libboost-wave1.71.0 libboost1.71-tools-dev libcbor0.6 libevent-dev
  libevent-extra-2.1-7 libevent-openssl-2.1-7 libfido2-1 libhwloc-dev
  libibverbs-dev libnl-3-dev libnl-route-3-dev libnuma-dev ncurses-term
  openmpi-common python3-dev python3-distro python3-distutils python3-lib2to3
  python3.8-dev
Use 'sudo apt autoremove' to remove them.
The following packages will be REMOVED:
  openssh-client openssh-server openssh-sftp-server ssh-import-id
0 upgraded, 0 newly installed, 4 to remove and 24 not upgraded.
After this operation, 5,942 kB disk space will be freed.
(Reading database ... 124761 files and directories currently installed.)
Removing openssh-server (1:8.2p1-4ubuntu0.5) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
Removing openssh-sftp-server (1:8.2p1-4ubuntu0.5) ...
Removing ssh-import-id (5.10-0ubuntu1) ...
Removing openssh-client (1:8.2p1-4ubuntu0.5) ...
Processing triggers for man-db (2.9.1-1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libboost-atomic-dev libboost-atomic1.71-dev libboost-atomic1.71.0
  libboost-chrono-dev libboost-chrono1.71-dev libboost-chrono1.71.0
  libboost-container-dev libboost-container1.71-dev libboost-container1.71.0
  libboost-context-dev libboost-context1.71-dev libboost-context1.71.0
  libboost-coroutine-dev libboost-coroutine1.71-dev libboost-coroutine1.71.0
  libboost-date-time-dev libboost-date-time1.71-dev libboost-date-time1.71.0
  libboost-exception-dev libboost-exception1.71-dev libboost-fiber-dev
  libboost-fiber1.71-dev libboost-fiber1.71.0 libboost-filesystem-dev
  libboost-filesystem1.71-dev libboost-filesystem1.71.0 libboost-graph-dev
  libboost-graph-parallel-dev libboost-graph-parallel1.71-dev
  libboost-graph-parallel1.71.0 libboost-graph1.71-dev libboost-graph1.71.0
  libboost-iostreams-dev libboost-iostreams1.71-dev libboost-locale-dev
  libboost-locale1.71-dev libboost-locale1.71.0 libboost-log-dev
  libboost-log1.71-dev libboost-log1.71.0 libboost-math-dev
  libboost-math1.71-dev libboost-math1.71.0 libboost-mpi1.71.0
  libboost-numpy-dev libboost-numpy1.71-dev libboost-numpy1.71.0
  libboost-program-options-dev libboost-program-options1.71-dev
  libboost-program-options1.71.0 libboost-python-dev libboost-python1.71-dev
  libboost-python1.71.0 libboost-random-dev libboost-random1.71-dev
  libboost-random1.71.0 libboost-regex-dev libboost-regex1.71-dev
  libboost-regex1.71.0 libboost-serialization-dev
  libboost-serialization1.71-dev libboost-serialization1.71.0
  libboost-stacktrace-dev libboost-stacktrace1.71-dev
  libboost-stacktrace1.71.0 libboost-system-dev libboost-system1.71-dev
  libboost-system1.71.0 libboost-test-dev libboost-test1.71-dev
  libboost-test1.71.0 libboost-thread-dev libboost-thread1.71-dev
  libboost-timer-dev libboost-timer1.71-dev libboost-timer1.71.0
  libboost-tools-dev libboost-type-erasure-dev libboost-type-erasure1.71-dev
  libboost-type-erasure1.71.0 libboost-wave-dev libboost-wave1.71-dev
  libboost-wave1.71.0 libboost1.71-tools-dev libevent-dev libevent-extra-2.1-7
  libevent-openssl-2.1-7 libhwloc-dev libibverbs-dev libnl-3-dev
  libnl-route-3-dev libnuma-dev openmpi-common python3-dev python3-distutils
  python3-lib2to3 python3.8-dev
Use 'sudo apt autoremove' to remove them.
The following additional packages will be installed:
  openssh-sftp-server ssh-import-id
Suggested packages:
  keychain libpam-ssh monkeysphere ssh-askpass molly-guard ufw
The following NEW packages will be installed:
  openssh-client openssh-server openssh-sftp-server ssh-import-id
0 upgraded, 4 newly installed, 0 to remove and 24 not upgraded.
Need to get 1,109 kB of archives.
After this operation, 5,942 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 openssh-client amd64 1:8.2p1-4ubuntu0.5 [671 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 openssh-sftp-server amd64 1:8.2p1-4ubuntu0.5 [51.5 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 openssh-server amd64 1:8.2p1-4ubuntu0.5 [377 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/main amd64 ssh-import-id all 5.10-0ubuntu1 [10.0 kB]
Fetched 1,109 kB in 1s (1,232 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 4.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package openssh-client.
(Reading database ... 124675 files and directories currently installed.)
Preparing to unpack .../openssh-client_1%3a8.2p1-4ubuntu0.5_amd64.deb ...
Unpacking openssh-client (1:8.2p1-4ubuntu0.5) ...
Selecting previously unselected package openssh-sftp-server.
Preparing to unpack .../openssh-sftp-server_1%3a8.2p1-4ubuntu0.5_amd64.deb ...
Unpacking openssh-sftp-server (1:8.2p1-4ubuntu0.5) ...
Selecting previously unselected package openssh-server.
Preparing to unpack .../openssh-server_1%3a8.2p1-4ubuntu0.5_amd64.deb ...
Unpacking openssh-server (1:8.2p1-4ubuntu0.5) ...
Selecting previously unselected package ssh-import-id.
Preparing to unpack .../ssh-import-id_5.10-0ubuntu1_all.deb ...
Unpacking ssh-import-id (5.10-0ubuntu1) ...
Setting up openssh-client (1:8.2p1-4ubuntu0.5) ...
Setting up ssh-import-id (5.10-0ubuntu1) ...
Setting up openssh-sftp-server (1:8.2p1-4ubuntu0.5) ...
Setting up openssh-server (1:8.2p1-4ubuntu0.5) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of restart.
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for systemd (245.4-4ubuntu3.20) ...

--2. Restart ssh server----

 * Restarting OpenBSD Secure Shell server sshd
   ...done.

--Download and install Java 8----

openjdk version "1.8.0_362"
OpenJDK Runtime Environment (build 1.8.0_362-8u362-ga-0ubuntu1~20.04.1-b09)
OpenJDK 64-Bit Server VM (build 25.362-b09, mixed mode)
javac 1.8.0_362

---23. Set Environment variables----


---Time taken----

0.23619796832402548

## 4.0 Install spark

### Define functions

`findspark`: PySpark isn't on `sys.path` by default, but that doesn't mean it can't be used as a regular library. You can address this by either symlinking pyspark into your site-packages, or adding `pyspark` to `sys.path` at runtime. `findspark` does the latter.

In [ ]:
# 1.0 Function to download and unzip spark
def spark_koalas_install():
  print("\n--1.1 Install findspark----\n")
  !pip install -q findspark

  #print("\n--1.2 Install databricks Koalas----\n")
  #!pip install koalas
  
  # This download link NEEDS TO BE CHECKED AGAIN
  print("\n--1.3 Download Apache tar.gz----\n")
            
  ! wget -c https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz 

  print("\n--1.4 Transfer downloaded content and unzip tar.gz----\n")
  !  mv /content/spark*   /opt/
  ! tar -xzf /opt/spark-3.3.2-bin-hadoop3.tgz  --directory /opt/

  print("\n--1.5 Check folder for files----\n")
  ! ls -la /opt

In [ ]:
# 1.1 Function to set environment
def set_spark_env():
  print("\n---2. Set Environment variables----\n")
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64" 
  os.environ["JRE_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64/jre" 
  os.environ["SPARK_HOME"] = "/opt/spark-3.3.2-bin-hadoop3" 
  os.environ["SPARK_CONF_DIR"] = "/opt/spark-3.3.2-bin-hadoop3/conf"     
  os.environ["LD_LIBRARY_PATH"] += ":/opt/spark-3.3.2-bin-hadoop3/lib/native"
  os.environ["PATH"] += ":/opt/spark-3.3.2-bin-hadoop3/bin:/opt/spark-3.3.2-bin-hadoop3/sbin"
  print("\n---2.1. Check Environment variables----\n")
  # Check
  ! echo $PATH
  ! echo $LD_LIBRARY_PATH

In [ ]:
# 1.2 Function to configure spark 
def spark_conf():
  print("\n---3. Configure spark to access hadoop----\n")
  !mv /opt/spark-3.3.2-bin-hadoop3/conf/spark-env.sh.template  /opt/spark-3.3.2-bin-hadoop3/conf/spark-env.sh
  #!echo "HADOOP_CONF_DIR=/opt/hadoop-3.2.2/etc/hadoop/" >> /opt/spark-3.1.2-bin-hadoop3.2/conf/spark-env.sh
  print("\n---3.1 Check ----\n")
  #!cat /opt/spark-3.1.1-bin-hadoop3.2/conf/spark-env.sh

### Install spark

In [ ]:
# 2.0 Call all the three functions
def install_spark():
  spark_koalas_install()
  set_spark_env()
  spark_conf()

In [ ]:
# 2.1 
install_spark()

--1.1 Install findspark----


--1.3 Download Apache tar.gz----

--2023-04-08 16:18:13--  https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299360284 (285M) [application/x-gzip]
Saving to: ‘spark-3.3.2-bin-hadoop3.tgz’

spark-3.3.2-bin-had 100%[===================>] 285.49M   179MB/s    in 1.6s

2023-04-08 16:18:15 (179 MB/s) - ‘spark-3.3.2-bin-hadoop3.tgz’ saved [299360284/299360284]


--1.4 Transfer downloaded content and unzip tar.gz----


--1.5 Check folder for files----

total 292368
drwxr-xr-x  1 root root      4096 Apr  8 16:18 .
drwxr-xr-x  1 root root      4096 Apr  8 16:12 ..
drwxr-xr-x  1 root root      4096 Apr  6 13:56 google
drwxr-xr-x  1 root root      4096 Feb  2 05:25 nvidia
drwxr-xr-x 13  501 1000      4096 Feb 10 20:40 spark-3.3.2-bin-hadoop3
-rw-r--r--  1 root root 299360284 Feb 10 21:28 spark-3.3.2-bin-hadoop3.tgz

---2. Set Environment variables----


---2.1. Check Environment variables----

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/spark-3.3.2-bin-hadoop3/bin:/opt/spark-3.3.2-bin-hadoop3/sbin:/opt/spark-3.3.2-bin-hadoop3/bin:/opt/spark-3.3.2-bin-hadoop3/sbin
/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/opt/spark-3.3.2-bin-hadoop3/lib/native:/opt/spark-3.3.2-bin-hadoop3/lib/native

---3. Configure spark to access hadoop----


---3.1 Check ----

# B. Call libraries
We do not import `pandas` but `pyspark.pandas` as `ps`.

In [ ]:
# 3.0 Just call some libraries to test
import numpy as np
import os
import time 

# 3.1 Get spark in sys.path
import findspark
findspark.init()

# 3.2 Call other spark libraries
#     Just to test
import pyspark.pandas as ps
from pyspark.sql import SparkSession
#import databricks.koalas as ks

In [ ]:
# 3.3
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# 3.4 Increase cell width to display wide columnar output
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# C. Build spark session
You can modify spark driver/executor memory here<br>
`SparkSession` name is `spark`<br>

## Modifying spark configuraion
Increase driver and executor memory

In [ ]:
# 4.0 Check template file
! cat /opt/spark-3.3.2-bin-hadoop3/conf/spark-defaults.conf.template

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
# spark.master                     spark://master:7077
# spark.eventLog.enabled           true
# spark.eventLog.dir               hdfs://namenode:8021/directory
# spark.serializer                 org.apache.spark.serializer.KryoSerializer
# spark.driver.memory              5g
# spark.executor.extraJavaOptions  -XX:+PrintGCDetails -Dkey=value -Dnumbers="one two three"

In [ ]:
# 4.1 Create spark-defaults.conf 
! cp /opt/spark-3.3.2-bin-hadoop3/conf/spark-defaults.conf.template  /opt/spark-3.3.2-bin-hadoop3/conf/spark-defaults.conf

In [ ]:
# 4.2 Amend properties
! echo "spark.driver.memory 6g" >> /opt/spark-3.3.2-bin-hadoop3/conf/spark-defaults.conf
! echo "spark.executor.memory 3g" >> /opt/spark-3.3.2-bin-hadoop3/conf/spark-defaults.conf

In [ ]:
# 4.3 Check now
! cat /opt/spark-3.3.2-bin-hadoop3/conf/spark-defaults.conf

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
# spark.master                     spark://master:7077
# spark.eventLog.enabled           true
# spark.eventLog.dir               hdfs://namenode:8021/directory
# spark.serializer                 org.apache.spark.serializer.KryoSerializer
# spark.driver.memory              5g
# spark.executor.extraJavaOptions  -XX:+PrintGCDetails -Dkey=value -Dnumbers="one two three"
spark.driver.memory 6g
spark.executor.memory 3g

## Stop and start SparkSession

In [ ]:
# 5.0 Build spark session:
# Stop spark, if started
#spark.stop()
# 5.1 Now start spark
spark = SparkSession. \
                    builder. \
                    master("local[*]"). \
                    appName("myexpt"). \
                    getOrCreate()

In [ ]:
sc = spark.sparkContext
spark.sparkContext.getConf().getAll()

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.executor.memory', '3g'),
 ('spark.app.name', 'myexpt'),
 ('spark.driver.port', '37613'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'),
 ('spark.app.startTime', '1680952929619'),
 ('spark.app.submitTime', '1680952929405'),
 ('spark.app.id', 'local-1680952931417'),
 ('spark.driver.memory', '6g'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.driver.host', '860b1f1d167b'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]

In [ ]:
# 5.2
print(spark.sparkContext._conf.getAll())

[('spark.driver.extraJavaOptions', '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'), ('spark.executor.memory', '3g'), ('spark.app.name', 'myexpt'), ('spark.driver.port', '37613'), ('spark.executor.id', 'driver'), ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'), ('spark.app.startTime', '1680952929619'), ('spark.app.submitTime', '1680952929405'), ('spark.app.id', 'local-1680952931417'), ('spark.driver.memory', '6g'), ('spark.rdd.compress', 'True'), ('spark.executor.extraJavaOptions', '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'), ('spark.driver.host', '860b1f1d167b'), ('spark.serializer.objectStreamReset', '100'), ('spark.master', 'local[*]'), ('spark.submit.pyFiles', ''), ('spark.submit.deployMode', 'client'), ('spark.ui.showConsoleProgress', 'true')]

# D. Test spark
Use existing *spark* session to test if spark is working

In [ ]:
# 6.0 pyspark pandas DataFrame
pdf = ps.DataFrame({
        'x1': ['a','a','b','b','', 'c', 'd','d'],
        'x2': ['apple','', 'orange','orange', 'peach','','apple','orange'],
        'x3': [1, 1, 2, 2, 2, 4, 1, 2],
        'x4': [2.4, 2.5, 3.5, 1.4, 2.1,1.5, 3.0, 2.0],
        'y1': [1, 0, 1, 0, 0, 1, 1, 0],
        'y2': ['yes', 'no', 'no','','', 'yes','', 'yes']
    })

# 6.1
pdf

  x1      x2  x3   x4  y1   y2
0  a   apple   1  2.4   1  yes
1  a           1  2.5   0   no
2  b  orange   2  3.5   1   no
3  b  orange   2  1.4   0
4      peach   2  2.1   0
5  c           4  1.5   1  yes
6  d   apple   1  3.0   1
7  d  orange   2  2.0   0  yes

In [ ]:
# 6.2 Transform to Spark DataFrame
#     and print
df = pdf.to_spark()
df.show()

+---+------+---+---+---+---+
| x1|    x2| x3| x4| y1| y2|
+---+------+---+---+---+---+
|  a| apple|  1|2.4|  1|yes|
|  a|      |  1|2.5|  0| no|
|  b|orange|  2|3.5|  1| no|
|  b|orange|  2|1.4|  0|   |
|   | peach|  2|2.1|  0|   |
|  c|      |  4|1.5|  1|yes|
|  d| apple|  1|3.0|  1|   |
|  d|orange|  2|2.0|  0|yes|
+---+------+---+---+---+---+

/opt/spark-3.3.2-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [ ]:
############

# E. Some useful functions
Execute only if you need. Else, forget it

In [ ]:
# 7.0 Per column how many null values:
from pyspark.sql.functions import isnan, when, count, col
def null_values(data):
  data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

In [ ]:
# 8.0 Finding mode of a column
# Refer StackOverflow: https://stackoverflow.com/a/58279672
def mode(df,col):
  df.groupby("col").count().orderBy("count", ascending=False).first()[0]

# 9.0 Find mode of all columns
def mode_cols(df):
  [[i,df.groupby(i).count().orderBy("count", ascending=False).first()[0]] for i in df.columns]

In [ ]:
# 10.0 Value counts
def value_counts(df):
    for colm in df.columns:
        df.groupby(colm).count().show()

In [ ]:
# 11.0 Map a string to another
# See here: https://stackoverflow.com/a/55026324/3282777
# Code not tested
# Map a column 'colname' in dataframe 'df'
# as follows:
#
# map_dict= {
#            'A': '1',
#            'B': '2'
#           }

def mapping(df,map_dict, colname):
  df2 = df.replace(to_replace=map_dict, subset=['yourColName'])

# F. Your experiments
SparkSession is <i>'spark'</i>. Call all needed libraries. Begin with mounting gdrive.

In [ ]:
# 1.0 Mount gdrive
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
# 2.0 Call ML libraries:

from pyspark.ml.feature import StringIndexer, VectorAssembler, StandardScaler,PCA, OneHotEncoder
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml import Pipeline

In [ ]:
# 2.1 List path to folder containg csv file. 
#      Note '/' at the end:

pathToFolder = "/gdrive/MyDrive/Colab_data_files/learning_spark/"

In [ ]:
# 2.2 Read data:

df = spark.read.csv(
                 pathToFolder + "adultdata_modified.csv",header='true', inferSchema='true'
                 )

In [ ]:
# 2.0 Explore data:
df.show()

+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|target|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 39|       State-gov| 77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States| <=50K|
| 50|Self-emp-not-inc| 83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States| <=50K|
| 38|         Private|215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States| <=50K|
| 53|         Private|234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States| <=50K|
| 28|         Private|338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba| <=50K|
| 37|         Private|284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States| <=50K|
| 49|         Private|160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica| <=50K|
| 52|Self-emp-not-inc|209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|  >50K|
| 31|         Private| 45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|  >50K|
| 42|         Private|159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|  >50K|
| 37|         Private|280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|  >50K|
| 30|       State-gov|141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|  >50K|
| 23|         Private|122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States| <=50K|
| 32|         Private|205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States| <=50K|
| 40|         Private|121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|          null|  >50K|
| 34|         Private|245487|     7th-8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico| <=50K|
| 25|Self-emp-not-inc|176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States| <=50K|
| 32|         Private|186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States| <=50K|
| 38|         Private| 28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States| <=50K|
| 43|Self-emp-not-inc|292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

## Spark Handling Missing Values
 [click here](https://www.analyticsvidhya.com/blog/2022/05/data-preprocessing-using-pyspark-handling-missing-values/) <br>

In [ ]:

# 2.1 filtering data:
df.filter("workclass is null").show()

+---+---------+------+------------+-------------+--------------------+----------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|   education|education_num|      marital_status|occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|target|
+---+---------+------+------------+-------------+--------------------+----------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 54|     null|180211|Some-college|           10|  Married-civ-spouse|      null|      Husband|Asian-Pac-Islander|  Male|           0|           0|            60|         South|  >50K|
| 32|     null|293936|     7th-8th|            4|Married-spouse-ab...|      null|Not-in-family|             White|  Male|           0|           0|            40|          null| <=50K|
| 25|     null|200681|Some-college|           10|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            40| United-States| <=50K|
| 67|     null|212759|        10th|            6|  Married-civ-spouse|      null|      Husband|             White|  Male|           0|           0|             2| United-States| <=50K|
| 17|     null|304873|        10th|            6|       Never-married|      null|    Own-child|             White|Female|       34095|           0|            32| United-States| <=50K|
| 35|     null|129305|     HS-grad|            9|  Married-civ-spouse|      null|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|
| 43|     null|174662|Some-college|           10|            Divorced|      null|Not-in-family|             White|Female|           0|           0|            40| United-States| <=50K|
| 52|     null|252903|     HS-grad|            9|            Divorced|      null|Not-in-family|             White|  Male|           0|           0|            45| United-States|  >50K|
| 68|     null| 38317|     1st-4th|            2|            Divorced|      null|Not-in-family|             White|Female|           0|           0|            20| United-States| <=50K|
| 53|     null|135105|   Bachelors|           13|            Divorced|      null|Not-in-family|             White|Female|           0|           0|            50| United-States| <=50K|
| 19|     null|170653|     HS-grad|            9|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            40|         Italy| <=50K|
| 64|     null|187656|     1st-4th|            2|            Divorced|      null|Not-in-family|             White|  Male|           0|           0|            40| United-States| <=50K|
| 60|     null| 24215|        10th|            6|            Divorced|      null|Not-in-family|Amer-Indian-Eskimo|Female|           0|           0|            10| United-States| <=50K|
| 20|     null|119156|Some-college|           10|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            20| United-States| <=50K|
| 19|     null|218956|Some-college|           10|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            24|        Canada| <=50K|
| 39|     null|157443|     Masters|           14|  Married-civ-spouse|      null|         Wife|Asian-Pac-Islander|Female|        3464|           0|            40|          null| <=50K|
| 19|     null|860348|Some-college|           10|       Never-married|      null|    Own-child|             Black|Female|           0|           0|            25| United-States| <=50K|
| 23|     null|211601|   Assoc-voc|           11|       Never-married|      null|    Own-child|             Black|Female|           0|           0|            15| United-States| <=50K|
| 67|     null| 36135|        11th|            7|  Married-civ-spouse|      null|      Husband|             White|  Male|           0|           0|             8| United-States| <=50K|
| 30|     null|151989|   Assoc-voc|           11|            Divorced|      null|    Unmarried|             White|Female|           0|           0|            40| United-States| <=50K|
+---+---------+------+------------+-------------+--------------------+----------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [ ]:

# 2.2 checking null values:
null_values(df)

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|target|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  0|     1836|     0|        0|            0|             0|      1843|           0|   0|  0|           0|           0|             0|           583|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

In [ ]:

# 2.3 Exploreing data with select:
df.createOrReplaceTempView("DATA")
spark.sql("SELECT * FROM DATA where workclass IS NULL").show()

+---+---------+------+------------+-------------+--------------------+----------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|   education|education_num|      marital_status|occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|target|
+---+---------+------+------------+-------------+--------------------+----------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 54|     null|180211|Some-college|           10|  Married-civ-spouse|      null|      Husband|Asian-Pac-Islander|  Male|           0|           0|            60|         South|  >50K|
| 32|     null|293936|     7th-8th|            4|Married-spouse-ab...|      null|Not-in-family|             White|  Male|           0|           0|            40|          null| <=50K|
| 25|     null|200681|Some-college|           10|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            40| United-States| <=50K|
| 67|     null|212759|        10th|            6|  Married-civ-spouse|      null|      Husband|             White|  Male|           0|           0|             2| United-States| <=50K|
| 17|     null|304873|        10th|            6|       Never-married|      null|    Own-child|             White|Female|       34095|           0|            32| United-States| <=50K|
| 35|     null|129305|     HS-grad|            9|  Married-civ-spouse|      null|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|
| 43|     null|174662|Some-college|           10|            Divorced|      null|Not-in-family|             White|Female|           0|           0|            40| United-States| <=50K|
| 52|     null|252903|     HS-grad|            9|            Divorced|      null|Not-in-family|             White|  Male|           0|           0|            45| United-States|  >50K|
| 68|     null| 38317|     1st-4th|            2|            Divorced|      null|Not-in-family|             White|Female|           0|           0|            20| United-States| <=50K|
| 53|     null|135105|   Bachelors|           13|            Divorced|      null|Not-in-family|             White|Female|           0|           0|            50| United-States| <=50K|
| 19|     null|170653|     HS-grad|            9|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            40|         Italy| <=50K|
| 64|     null|187656|     1st-4th|            2|            Divorced|      null|Not-in-family|             White|  Male|           0|           0|            40| United-States| <=50K|
| 60|     null| 24215|        10th|            6|            Divorced|      null|Not-in-family|Amer-Indian-Eskimo|Female|           0|           0|            10| United-States| <=50K|
| 20|     null|119156|Some-college|           10|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            20| United-States| <=50K|
| 19|     null|218956|Some-college|           10|       Never-married|      null|    Own-child|             White|  Male|           0|           0|            24|        Canada| <=50K|
| 39|     null|157443|     Masters|           14|  Married-civ-spouse|      null|         Wife|Asian-Pac-Islander|Female|        3464|           0|            40|          null| <=50K|
| 19|     null|860348|Some-college|           10|       Never-married|      null|    Own-child|             Black|Female|           0|           0|            25| United-States| <=50K|
| 23|     null|211601|   Assoc-voc|           11|       Never-married|      null|    Own-child|             Black|Female|           0|           0|            15| United-States| <=50K|
| 67|     null| 36135|        11th|            7|  Married-civ-spouse|      null|      Husband|             White|  Male|           0|           0|             8| United-States| <=50K|
| 30|     null|151989|   Assoc-voc|           11|            Divorced|      null|    Unmarried|             White|Female|           0|           0|            40| United-States| <=50K|
+---+---------+------+------------+-------------+--------------------+----------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [ ]:
# 2.4 filling the missing values:
df.fillna(value='missing',subset=['workclass','occupation', 'native_country']).show()

+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|target|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 39|       State-gov| 77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States| <=50K|
| 50|Self-emp-not-inc| 83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States| <=50K|
| 38|         Private|215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States| <=50K|
| 53|         Private|234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States| <=50K|
| 28|         Private|338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba| <=50K|
| 37|         Private|284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States| <=50K|
| 49|         Private|160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica| <=50K|
| 52|Self-emp-not-inc|209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|  >50K|
| 31|         Private| 45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|  >50K|
| 42|         Private|159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|  >50K|
| 37|         Private|280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|  >50K|
| 30|       State-gov|141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|  >50K|
| 23|         Private|122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States| <=50K|
| 32|         Private|205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States| <=50K|
| 40|         Private|121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|       missing|  >50K|
| 34|         Private|245487|     7th-8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico| <=50K|
| 25|Self-emp-not-inc|176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States| <=50K|
| 32|         Private|186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States| <=50K|
| 38|         Private| 28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States| <=50K|
| 43|Self-emp-not-inc|292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [ ]:

# 2.7 checking the data types:
df.dtypes

[('age', 'int'),
 ('workclass', 'string'),
 ('fnlwgt', 'int'),
 ('education', 'string'),
 ('education_num', 'int'),
 ('marital_status', 'string'),
 ('occupation', 'string'),
 ('relationship', 'string'),
 ('race', 'string'),
 ('sex', 'string'),
 ('capital_gain', 'int'),
 ('capital_loss', 'int'),
 ('hours_per_week', 'int'),
 ('native_country', 'string'),
 ('target', 'string')]

In [ ]:
# 2.3 Your cat cols and num cols:

catCols = [item[0] for item in df.dtypes if item[1].startswith('string')]
#catCols = df.select_dtypes(include = ['object'])
numCols = [item[0] for item in df.dtypes if item[1].startswith('int')]

print('String features \n',catCols[-1])
print("numeric features \n",numCols)

String features
 target
numeric features
 ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [ ]:
# 2.4 What names catCols will have after StringIndexing and OHE:

outCols = [i + "_index" for i in list(catCols)[:-1]]  # Exclude y
outCols
oheCols = [i + "_vec" for i in list(catCols)[:-1]]
oheCols

vaCols = oheCols.copy()
vaCols.extend(numCols)
vaCols

['workclass_index',
 'education_index',
 'marital_status_index',
 'occupation_index',
 'relationship_index',
 'race_index',
 'sex_index',
 'native_country_index']

['workclass_vec',
 'education_vec',
 'marital_status_vec',
 'occupation_vec',
 'relationship_vec',
 'race_vec',
 'sex_vec',
 'native_country_vec']

['workclass_vec',
 'education_vec',
 'marital_status_vec',
 'occupation_vec',
 'relationship_vec',
 'race_vec',
 'sex_vec',
 'native_country_vec',
 'age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours_per_week']

In [ ]:
# 3.0 Instantiate StringIndexer for multiple columns:

indexer = StringIndexer(
                        inputCols=catCols[:-1],   # Exclude y
                        outputCols=outCols
                        )
indexer.setHandleInvalid("skip").fit(df).transform(df)

encoder = OneHotEncoder(inputCols=outCols,
                        outputCols=oheCols)


targetindex = StringIndexer(inputCol = 'target',
                       outputCol = 'target_index')


vectorAssembler = VectorAssembler(
                                   inputCols = vaCols,
                                   outputCol = 'v_features'
                                  )

## Applied standard scaler

sScaler = StandardScaler(inputCol="v_features", outputCol="scaled_features",
                         withMean=True, withStd=True,)

##Applied PCA 

pca =  PCA(k=3, inputCol="scaled_features", outputCol="features")

## Instantite gradient boosting classifier object

gbc = GBTClassifier(labelCol="target_index",
                             maxIter=10
                            )

DataFrame[age: int, workclass: string, fnlwgt: int, education: string, education_num: int, marital_status: string, occupation: string, relationship: string, race: string, sex: string, capital_gain: int, capital_loss: int, hours_per_week: int, native_country: string, target: string, workclass_index: double, education_index: double, marital_status_index: double, occupation_index: double, relationship_index: double, race_index: double, sex_index: double, native_country_index: double]

In [ ]:
# 3.1 Split spark_df into train/test:

splits = df.randomSplit([0.7, 0.3])
type(splits)   # list

list

In [ ]:
# 3.2
train_df = splits[0]
test_df = splits[1]

## What are pipelines:
See [here](https://spark.apache.org/docs/latest/ml-pipeline.html)

In [ ]:
# 4.0 Pipeline now:
pipeline = Pipeline(stages= [indexer, encoder, vectorAssembler, targetindex,sScaler,pca, gbc])

In [ ]:
# 4.1 fit pipeline:
model_p = pipeline.fit(train_df)

In [ ]:
# 5.0 Make predictions:

test_df = model_p.transform(test_df)

In [ ]:
# 5.1:

test_df.show(2)

+---+---------+------+---------+-------------+--------------+-------------+------------+-----+----+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-------------+---------------+------------------+--------------+----------------+-------------+-------------+------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+----------+
|age|workclass|fnlwgt|education|education_num|marital_status|   occupation|relationship| race| sex|capital_gain|capital_loss|hours_per_week|native_country|target|workclass_index|education_index|marital_status_index|occupation_index|relationship_index|race_index|sex_index|native_country_index|workclass_vec|  education_vec|marital_status_vec|occupation_vec|relationship_vec|     race_vec|      sex_vec|native_country_vec|          v_features|target_index|     scaled_features|            features|       rawPrediction|         probability|prediction|
+---+---------+------+---------+-------------+--------------+-------------+------------+-----+----+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-------------+---------------+------------------+--------------+----------------+-------------+-------------+------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+----------+
| 17|Local-gov| 32124|      9th|            5| Never-married|Other-service|   Own-child|Black|Male|           0|           0|             9| United-States| <=50K|            2.0|           10.0|                 1.0|             5.0|               2.0|       1.0|      0.0|                 0.0|(7,[2],[1.0])|(15,[10],[1.0])|     (6,[1],[1.0])|(13,[5],[1.0])|   (5,[2],[1.0])|(4,[1],[1.0])|(1,[0],[1.0])|    (40,[0],[1.0])|(97,[2,17,23,33,4...|         0.0|[-1.6869813327704...|[-3.5076885993122...|[1.32025167091270...|[0.93342325106781...|       0.0|
| 17|Local-gov|191910|     11th|            7| Never-married|        Sales|   Own-child|White|Male|           0|           0|            20| United-States| <=50K|            2.0|            5.0|                 1.0|             4.0|               2.0|       0.0|      0.0|                 0.0|(7,[2],[1.0])| (15,[5],[1.0])|     (6,[1],[1.0])|(13,[4],[1.0])|   (5,[2],[1.0])|(4,[0],[1.0])|(1,[0],[1.0])|    (40,[0],[1.0])|(97,[2,12,23,32,4...|         0.0|[-1.6869813327704...|[-2.2445953955861...|[1.31702844540736...|[0.93302151991377...|       0.0|
+---+---------+------+---------+-------------+--------------+-------------+------------+-----+----+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-------------+---------------+------------------+--------------+----------------+-------------+-------------+------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 2 rows

In [ ]:
# 5.2 Evaluate:

evaluator = BinaryClassificationEvaluator(labelCol = 'target_index', metricName = 'areaUnderROC' )

In [ ]:
# 5.2.1
evaluator.evaluate(test_df)  ## 0.8712789155578531

0.8712789155578531

## Checking Without applying PCA and standard scaler

In [ ]:
# 3.2 Instantiate StringIndexer for multiple columns:

indexer = StringIndexer(
                        inputCols=catCols[:-1],   # Exclude y
                        outputCols=outCols
                        )
indexer.setHandleInvalid("skip").fit(df).transform(df)

encoder = OneHotEncoder(inputCols=outCols,
                        outputCols=oheCols)


targetindex = StringIndexer(inputCol = 'target',
                       outputCol = 'target_index')


vectorAssembler = VectorAssembler(
                                   inputCols = vaCols,
                                   outputCol = 'features'
                                  )



gbt = GBTClassifier(labelCol="target_index",
                             maxIter=10
                            )

DataFrame[age: int, workclass: string, fnlwgt: int, education: string, education_num: int, marital_status: string, occupation: string, relationship: string, race: string, sex: string, capital_gain: int, capital_loss: int, hours_per_week: int, native_country: string, target: string, workclass_index: double, education_index: double, marital_status_index: double, occupation_index: double, relationship_index: double, race_index: double, sex_index: double, native_country_index: double]

In [ ]:
# 3.1 Split spark_df into train/test:

splits = df.randomSplit([0.7, 0.3])
type(splits)   # list
# 3.2
train_df = splits[0]
test_df = splits[1]

list

In [ ]:
# 4.0 Pipeline now:
pipeline = Pipeline(stages= [indexer, encoder, vectorAssembler, targetindex, gbt ])
model_p = pipeline.fit(train_df)

In [ ]:
test_df = model_p.transform(test_df)
# 5.1:

test_df.show(2)

+---+---------+------+---------+-------------+--------------+-------------+------------+-----+------+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-------------+---------------+------------------+--------------+----------------+-------------+-------------+------------------+--------------------+------------+--------------------+--------------------+----------+
|age|workclass|fnlwgt|education|education_num|marital_status|   occupation|relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|target|workclass_index|education_index|marital_status_index|occupation_index|relationship_index|race_index|sex_index|native_country_index|workclass_vec|  education_vec|marital_status_vec|occupation_vec|relationship_vec|     race_vec|      sex_vec|native_country_vec|            features|target_index|       rawPrediction|         probability|prediction|
+---+---------+------+---------+-------------+--------------+-------------+------------+-----+------+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-------------+---------------+------------------+--------------+----------------+-------------+-------------+------------------+--------------------+------------+--------------------+--------------------+----------+
| 17|Local-gov| 39815|     10th|            6| Never-married|Other-service|   Own-child|White|Female|           0|           0|            25| United-States| <=50K|            2.0|            7.0|                 1.0|             5.0|               2.0|       0.0|      1.0|                 0.0|(7,[2],[1.0])| (15,[7],[1.0])|     (6,[1],[1.0])|(13,[5],[1.0])|   (5,[2],[1.0])|(4,[0],[1.0])|    (1,[],[])|    (40,[0],[1.0])|(97,[2,14,23,33,4...|         0.0|[1.31223912164747...|[0.93242043904943...|       0.0|
| 17|Local-gov|192387|      9th|            5| Never-married|Other-service|   Own-child|White|  Male|           0|           0|            45| United-States| <=50K|            2.0|           10.0|                 1.0|             5.0|               2.0|       0.0|      0.0|                 0.0|(7,[2],[1.0])|(15,[10],[1.0])|     (6,[1],[1.0])|(13,[5],[1.0])|   (5,[2],[1.0])|(4,[0],[1.0])|(1,[0],[1.0])|    (40,[0],[1.0])|(97,[2,17,23,33,4...|         0.0|[1.17793021237645...|[0.91339891944790...|       0.0|
+---+---------+------+---------+-------------+--------------+-------------+------------+-----+------+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-------------+---------------+------------------+--------------+----------------+-------------+-------------+------------------+--------------------+------------+--------------------+--------------------+----------+
only showing top 2 rows

In [ ]:
# 5.2 Evaluate:

evaluator = BinaryClassificationEvaluator(labelCol = 'target_index', metricName = 'areaUnderROC' )

In [ ]:
# 5.2.1
evaluator.evaluate(test_df)  ## 0.9043883553393772

0.9043883553393772

In [ ]:
################ I am done #################3